<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
        <main>
            <h1>Cree un nuevo producto</h1>
            <form action="productDetail.ejs" method="post">
            <div class="create">
                <div class="divisionCreate">
                </div>
                <div>
                    <input type="text" placeholder="Nombre" name="Nombre" ></input>
                </div>
                <div>
                    <div class="tamanio-producto"><label for="tamanio" class="input-tamanio">Volumen del producto: 
                        <div class="tamanio-producto">
                        <label for="tamanio">330ml</label>
                        <input type="radio" name="perfil">
                        <label for="tamanio">473ml</label>
                        <input type="radio" name="perfil">
                        </label>
                        </div>
                </div>
                <div>
                    <input type="text" placeholder="Categoría" name="categoria" ></input>
                </div>
                <div>
                <label>
                    <input type="text" placeholder="ABV" name="ABV" >
                    </label>
                </div>
                <div>
                    <input type="ibu" placeholder="IBU" name="IBU" ></input>
                </div>
                <textarea name="textarea" rows="10" cols="50" placeholder="Inserte descripción del producto"></textarea>
                <div>
                    <input type="precio" placeholder="Precio x unidad" name="precio" ></input>
                </div>
                <div>
                    <input type="precio6" placeholder="Precio x pack" name="precio6" ></input>
                </div>
                <div>
                    <input type="cantidad" placeholder="Unidades por pack" name="cantidad" ></input>
                </div>
                <div>
                    <input type="file" name="imgProducto" accept=".jpg, .pdf" multiple>
                </div>
                <div class="button-create">
                    <a href="#"><input type="submit" value="Insertar producto"></input></a> 
                </div>
        </div>
    </form>
        </main>
        <%- include('./partials/footer') %>
    </body>
</html>
