<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BirraShop!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="css/styles-index.css">
    <script src="https://kit.fontawesome.com/3280e6a789.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <a><img src="img/logo.webp" href="/index.html" alt="Logo de MercadoLiebre" class="logo"></img></a>
        </div>
        <div class="dropdown">
            <div class="importadas">
                <button>Importadas</button>
            </div>
            <div class="nacionales">
                <button>Nacionales</button>
            </div>
            <div class="ofertas">
                <a href="/ofertas.html">Ofertas</a> 
            </div>
        </div>
        <div class="user-menu">
            <div class="search">
                <form action="#">
                    <input type="text" placeholder="Buscar productos" name="search"><button><i class="fa fa-search" style="font-size: 20 px;"></i></button>  
                </form>
            </div>
            <div class="faq"><i class="fa-solid fa-circle-question"></i><span class="off">FAQ</span></div>
            <div class="search-icon"><i class="fa fa-search"></i></div>
            <div class="user"><a href="/login.html"><i class="fa-solid fa-user"></i><span class="off">Perfil</span></a></div>
            <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i><span class="off">Carrito</span></a></div>
        </div>  
    </header>
    <div class="banner">
        <img src="img/banner.png" alt="Banner">
    </div>
    <main>
        <section class="section">
            <div class="aside"></div>
            <div class="articles">
                <article class="article 1">
                    <div class="product-img">
                        <a href="/productDetail"><img src="img/andes-origen-ipa-andina.webp" alt="Andes Origen IPA Andina" ></a>
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$212</p>
                        <p class="class">Cerveza Andes Origen IPA Andina Lata 473ml</p>   
                        <p class="info">IPA / 4.5% alc</p>
                    </div>
                </article>
                <article class="article 2">
                    <div class="product-img">
                        <img src="img/bier-haus-chalaland-ipa.webp" alt="Cerveza BierHaus Chalaland IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$420</p>
                        <p class="class">Cerveza BierHaus Chalaland Lata 473ml</p>   
                        <p class="info"> AMERICAN IPA / IPA / 5.3% alc</p>
                    </div>
                </article>
                <article class="article 3">
                    <div class="product-img">
                        <img src="img/bier-haus-superstar-ipa.webp" alt="BierHaus Superstar IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$295</p>
                        <p class="class">Cerveza BierHaus IPA Superstar Lata 473ml</p>   
                        <p class="info"> IPA / DORADO / 5.7% alc</p>
                    </div>
                </article>
                <article class="article 4">
                    <div class="product-img">
                        <img src="img/blest-ipa.webp" alt="Blest IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$335</p>
                        <p class="class">Cerveza Blest IPA Lata 473ml</p>   
                        <p class="info"> IPA / 6.5% alc</p>
                    </div>
                </article>
                <article class="article 5">
                    <div class="product-img">
                        <img src="img/dos-dingos-aussie-ipa.webp" alt="Dos Dingos Aussie IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$390</p>
                        <p class="class">Cerveza Dos Dingos Aussie IPA 473ml</p>   
                        <p class="info"> IPA / DORADO</p>
                    </div>
                </article>
                <article class="article 6">
                    <div class="product-img">
                        <img src="img/dos-dingos-super-refreshing-ipa.webp" alt="Dos Dingos Super Refreshing IPA">
                    </div>
                    <div class="description">
                        <p class="discount">$330</p>
                        <p class="price">$231</p>
                        <p class="class">Cerveza Dos Dingos Super Refreshing IPA 355ml</p>   
                        <p class="info"> IPA / DORADO / 7% alc</p>
                    </div>
                </article>
                <article class="article 7">
                    <div class="product-img">
                        <img src="img/jarva-5-johnnies-ipa.webp" alt="Jarva 5 Johnnies IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$360</p>
                        <p class="class">Cerveza Jarva IPA 5 Johnnies Lata 473ml</p>   
                        <p class="info"> IPA / 4.6% alc</p>
                    </div>
                </article>
                <article class="article 8">
                    <div class="product-img">
                        <img src="img/me-echo-la-burra-ipa.webp" alt="Me Echó La Burra IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$260</p>
                        <p class="class">Cerveza Me Echó La Burra IPA 350ml</p>   
                        <p class="info"> IPA / DORADO / 6% alc</p>
                    </div>
                    
                </article>
                <article class="article 9">
                    <div class="product-img">
                        <img src="img/mesta-beepure-session-ipa.webp" alt="Cerveza Mesta Beepure Session IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$300</p>
                        <p class="class">Cerveza Mesta Beepure Session IPA 500ml</p>   
                        <p class="info"> IPA / DORADO / 4.2% alc</p>
                    </div>
                    
                </article>
                <article class="article 10">
                    <div class="product-img">
                        <img src="img/ocaso-ipa.webp" alt="Cerveza Ocaso IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$300</p>
                        <p class="class">Cerveza Ocaso IPA Lata 473ml</p>   
                        <p class="info"> IPA / DORADO / 5.2% alc</p>
                    </div>
                    
                </article>
                <article class="article 11">
                    <div class="product-img">
                        <img src="img/ocaso-ipa-sin-alcohol.webp" alt="Cerveza Ocaso IPA Sin Alcohol Lata">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$275</p>
                        <p class="class">Cerveza Ocaso IPA Sin Alcohol Lata 473ml</p>   
                        <p class="info"> IPA / DORADO / 0% alc</p>
                    </div>
                    
                </article>
                <article class="article 12">
                    <div class="product-img">
                        <img src="img/cerveza-patagonia-247- session-ipa.webp" alt="Cerveza Patagonia 24.7. Session IPA con Sauco Lata">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$262</p>
                        <p class="class">Cerveza Patagonia 24.7. Session IPA con Sauco Lata 410ml</p>   
                        <p class="info"> IPA / GOLD / 4.5% alc</p>
                    </div>
                    
                </article>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="newsletter-box">
            <div><p>Unite a nuestro newsletter</p></div>
            <div>
                <form action="#">
                    <input type="text" placeholder="user@domain.com" name="search"> 
                </form>
            </div>
        </div>
        <nav class="footer-menu">
            <div class="faq-menu">
                <h3>PREGUNTAS FRECUENTES</h3>
                <a href="#">COMO COMPRAR</a>
                <a href="#">TIEMPOS Y COSTOS DE ENVÍO</a>
                <a href="#">FORMAS DE PAGO</a>
                <a href="#">CONTACTANOS</a>
                <a href="#">BOTÓN DE ARREPENTIMIENTO</a>
            </div>
            <div class="aboutus-menu">
                <h3>NOSOTROS</h3>
                <a href="#">NUESTRA HISTORIA</a>
                <a href="#">COMENTARIOS DE CLIENTES</a>
                <a href="#">PRENSA</a>
                <a href="#">TERMINOS Y CONDICIONES</a>
                <a href="#">OLITICA DE PRIVACIDAD</a>
            </div>
            <div class="empresas-menu">
                <h3>EMPRESAS</h3>
                <a href="#">NUESTRA HISTORIA</a>
                <a href="#">REGALOS<br>EMPRESARIALES</a>
            </div>
            <div class="social">
                <div><h3>Seguinos</h3></div>
                <div class="container">
                    <div><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i><span class="off">Facebook</span></a></div>
                    <div><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i><span class="off">Twitter</span></a></div>
                    <div><a href="#"><i class="fa-brands fa-whatsapp"></i><span class="off">Whatsapp</span></a></div>
                </div> 
            </div>
        </nav>
    </footer>
</body>
</html>