<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="banner">
        <img src="img/banner.png" alt="Banner">
    </div>
    <main>
        <div class="barra-navegacion">
            <ol class="lista-producto">
                <li class="barra-van">
                    <a class="item-class">Cervezas ></a>
                </li>
                <li class="item-home">
                    <span class="item-detail"> IPA</span>
                </li>
            </ol>
        </div>
        <section class="section">
            <div class="aside"></div>
            <div class="articles">
                <article class="article beer1">
                    <div class="product-img">
                        <a href="/productDetail"><img src="/img/andes-origen-ipa-andina.webp" alt="Andes Origen IPA Andina" ></a>
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$212</p>
                        <p class="class">Cerveza Andes Origen IPA Andina Lata 473ml</p>   
                        <p class="info">IPA / 4.5% alc</p>
                    </div>
                </article>
                <article class="article beer2">
                    <div class="product-img">
                        <img src="img/bier-haus-chalaland-ipa.webp" alt="Cerveza BierHaus Chalaland IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$420</p>
                        <p class="class">Cerveza BierHaus Chalaland Lata 473ml</p>   
                        <p class="info"> AMERICAN IPA / IPA / 5.3% alc</p>
                    </div>
                </article>
                <article class="article beer3">
                    <div class="product-img">
                        <img src="img/bier-haus-superstar-ipa.webp" alt="BierHaus Superstar IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$295</p>
                        <p class="class">Cerveza BierHaus IPA Superstar Lata 473ml</p>   
                        <p class="info"> IPA / DORADO / 5.7% alc</p>
                    </div>
                </article>
                <article class="article beer4">
                    <div class="product-img">
                        <img src="img/blest-ipa.webp" alt="Blest IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$335</p>
                        <p class="class">Cerveza Blest IPA Lata 473ml</p>   
                        <p class="info"> IPA / 6.5% alc</p>
                    </div>
                </article>
                <article class="article beer5">
                    <div class="product-img">
                        <img src="img/dos-dingos-aussie-ipa.webp" alt="Dos Dingos Aussie IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$390</p>
                        <p class="class">Cerveza Dos Dingos Aussie IPA 473ml</p>   
                        <p class="info"> IPA / DORADO</p>
                    </div>
                </article>
                <article class="article beer6">
                    <div class="product-img">
                        <img src="img/dos-dingos-super-refreshing-ipa.webp" alt="Dos Dingos Super Refreshing IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$231</p>
                        <p class="class">Cerveza Dos Dingos Super Refreshing IPA 355ml</p>   
                        <p class="info"> IPA / DORADO / 7% alc</p>
                    </div>
                </article>
                <article class="article beer7">
                    <div class="product-img">
                        <img src="img/jarva-5-johnnies-ipa.webp" alt="Jarva 5 Johnnies IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$360</p>
                        <p class="class">Cerveza Jarva IPA 5 Johnnies Lata 473ml</p>   
                        <p class="info"> IPA / 4.6% alc</p>
                    </div>
                </article>
                <article class="article beer8">
                    <div class="product-img">
                        <img src="img/me-echo-la-burra-ipa.webp" alt="Me Echó La Burra IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$260</p>
                        <p class="class">Cerveza Me Echó La Burra IPA 350ml</p>   
                        <p class="info"> IPA / DORADO / 6% alc</p>
                    </div>
                    
                </article>
                <article class="article beer9">
                    <div class="product-img">
                        <img src="img/mesta-beepure-session-ipa.webp" alt="Cerveza Mesta Beepure Session IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$300</p>
                        <p class="class">Cerveza Mesta Beepure Session IPA 500ml</p>   
                        <p class="info"> IPA / DORADO / 4.2% alc</p>
                    </div>
                    
                </article>
                <article class="article beer10">
                    <div class="product-img">
                        <img src="img/ocaso-ipa.webp" alt="Cerveza Ocaso IPA">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$300</p>
                        <p class="class">Cerveza Ocaso IPA Lata 473ml</p>   
                        <p class="info"> IPA / DORADO / 5.2% alc</p>
                    </div>
                    
                </article>
                <article class="article beer11">
                    <div class="product-img">
                        <img src="img/ocaso-ipa-sin-alcohol.webp" alt="Cerveza Ocaso IPA Sin Alcohol Lata">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$275</p>
                        <p class="class">Cerveza Ocaso IPA Sin Alcohol Lata 473ml</p>   
                        <p class="info"> IPA / DORADO / 0% alc</p>
                    </div>
                    
                </article>
                <article class="article beer12">
                    <div class="product-img">
                        <img src="img/cerveza-patagonia-247- session-ipa.webp" alt="Cerveza Patagonia 24.7. Session IPA con Sauco Lata">
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$262</p>
                        <p class="class">Cerveza Patagonia 24.7. Session IPA con Sauco Lata 410ml</p>   
                        <p class="info"> IPA / GOLD / 4.5% alc</p>
                    </div>
                    
                </article>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>