<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BirraShop!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/3280e6a789.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <log class="logo"></log>
            <a href="index.html">Logo</a>
        <nav class="menu"></nav>
            <div class="nav">
                <a href=""><i class="fa fa-home" aria-hidden="true"></i><span class="off">Inicio</span></a>
                <a href="#"><i class="fa fa-user" aria-hidden="true"></i><span class="off">Nosotros</span></a>
                <a href="#"><i class="fa fa-comments" aria-hidden="true"></i><span class="off">Servicios</span></a>
                <a href="#"><i class="fa fa-file-text" aria-hidden="true"></i><span class="off">Noticias</span></a>
                <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i><span class="off">Contacto</span></a>
            </div>
        <div class="searc"></div>
            <form action="#">
                <input type="text" placeholder="Buscar productos, marcas" name="search"><button>
                    <i class="fa fa-search" style="font-size: 18px;"></i>
                </button>
            </form>
        <nav class="menu2"></nav>
            <div class="nav">
                <a href="/faq.html"><i class="fa fa-home" aria-hidden="true"></i><span class="off">FAQ</span></a>
                <a href="/user.html"><i class="fa fa-user" aria-hidden="true"></i><span class="off">Perfil</span></a>
                <a href="/productCart.html"><i class="fa fa-user" aria-hidden="true"></i><span class="off">Carrito</span></a>
            </div>
    </header>
    <div class="banner"></div>
    <main class="main">
        <aside class="aside"></aside>
        <div class="products"></div>
    </main>
    <footer class="footer">
        <form action="PUSH" class="newsletter"></form>
        <div class="social">
            <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-whatsapp-square" aria-hidden="true"></i></a>
        </div>
    </footer>
</body>
</html>