<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BirraShop!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/styles-detail.css">
    <script src="https://kit.fontawesome.com/3280e6a789.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
    <div class="father">
        <div class="header">
            <div class="menu">
                <div class="logo">
                    <a href="/views/index.html"><img src="img/logo.webp" alt="Logo de MercadoLiebre" class="logo"></img></a>
                </div>
                <div class="dropdown">
                    <div class="importadas"></div>
                    <div class="nacionales"></div>
                    <div class="ofertas"></div>
                </div>
                <div class="usermenu">
                    <div class="search">
                        <form action="#">
                                <input type="text" placeholder="Buscar productos, marcas" name="search"><button><i class="fa fa-search" style="font-size: 20 px;"></i></button>  
                            </form>
                        </div>
                        <div class="faq"><i class="fa-solid fa-circle-question"></i><span class="off">FAQ</span></div>
                        <div class="user"><i class="fa-solid fa-user"></i><span class="off">Perfil</span></div>
                        <div class="cart">
                            <a href="#"><i class="fa-solid fa-cart-shopping"></i><span class="off">Carrito</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <img src="img/banner.png" alt="Banner">
        </div>
    </header>
<main>
    <div class="cuerpo-descripcion">
        <div class="imagen-producto"><img src="img/andes-origen-ipa-andina.webp"></div>  
        <div class="caja-descripcion">
            <div class="texto-descripcion">
                <div class="titulo-del-producto">
                    Andes Andina IPA Andina Edición limitada    
                </div>
                <div class="precio-anterior">$130</div>
                <div class="precio-actual">$120.5<div class="descuento">14% Off</div></div><div><button type="button" class="agregar-al-carrito">Agregar al carrito</button></div>
                <div class="disponibles">Disponibles: 100</div>
                <div class="descripcion-del-producto">
                    <h2>Información del producto</h2>
                    <p>
                        La Andes IPA Andina es una cerveza estilo IPA, valga la redundancia, de la escuela Inglesa. Como seguramente usted sabe, este estilo de cerveza se caracteriza por el amargor que le otorga su alto contenido de lúpulo.
                        Lo que seguramente no sabe es que la IPA Andina contiene uva mendocina. Este ingrediente es clave para que en el paladar perciba una especie de dulzor, que a su vez hace el amargor más amigable. Esta edición limitada es ideal para acompañar platos picantones, como unas papas bravas o algún dip a base de curry.
                    </p> 
                </div>
    </div>
    </div>
</div>
</main>
<footer class="footer">
    <div class="newsletter-box">
        <div><p>Unite a nuestro newsletter</p></div>
        <div>
            <form action="#">
                <input type="text" placeholder="user@domain.com" name="search"> 
            </form>
        </div>
    </div>
    <nav class="footer-menu">
        <div class="faq-menu">
            <h3>PREGUNTAS FRECUENTES</h3>
            <a href="#">COMO COMPRAR</a>
            <a href="#">TIEMPOS Y COSTOS DE ENVÍO</a>
            <a href="#">FORMAS DE PAGO</a>
            <a href="#">CONTACTANOS</a>
            <a href="#">BOTÓN DE ARREPENTIMIENTO</a>
        </div>
        <div class="aboutus-menu">
            <h3>NOSOTROS</h3>
            <a href="#">NUESTRA HISTORIA</a>
            <a href="#">COMENTARIOS DE CLIENTES</a>
            <a href="#">PRENSA</a>
            <a href="#">TERMINOS Y CONDICIONES</a>
            <a href="#">OLITICA DE PRIVACIDAD</a>
        </div>
        <div class="empresas-menu">
            <h3>EMPRESAS</h3>
            <a href="#">NUESTRA HISTORIA</a>
            <a href="#">REGALOS<br>EMPRESARIALES</a>
        </div>
        <div class="social">
            <div><h3>Seguinos</h3></div>
            <div class="container">
                <div><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i><span class="off">Facebook</span></a></div>
                <div><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i><span class="off">Twitter</span></a></div>
                <div><a href="#"><i class="fa-brands fa-whatsapp"></i><span class="off">Whatsapp</span></a></div>
            </div> 
        </div>
    </nav>
</footer>
</body>
</html>