<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BirraShop!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/styles-detail.css">
    <script src="https://kit.fontawesome.com/3280e6a789.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="father">
        <div class="header">
            <div class="menu">
                <div class="logo">
                    <a><img src="img/logo.webp" href="/index.html" alt="Logo de MercadoLiebre" class="logo"></img></a>
                </div>
                    <div class="dropdown">
                        <div class="importadas"></div>
                        <div class="nacionales"></div>
                        <div class="ofertas"></div>
                    </div>
                    <div class="usermenu">
                        <div class="search">
                            <form action="#">
                                <input type="text" placeholder="Buscar productos, marcas" name="search"><button><i class="fa fa-search" style="font-size: 20 px;"></i></button>  
                           </form>
                        </div>
                        <div class="faq"><i class="fa-solid fa-circle-question"></i><span class="off">FAQ</span></div>
                        <div class="user"><i class="fa-solid fa-user"></i><span class="off">Perfil</span></div>
                        <div class="cart">
                            <a href="#"><i class="fa-solid fa-cart-shopping"></i><span class="off">Carrito</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<main>
    <div class="cuerpo-descripcion">
        <div class="imagen-producto"><img src="img/AndesOrigenIpaAndina.webp"></div>  
        <div class="caja-descripcion">
        <div class="texto-descripcion">
            <div class="titulo-del-producto">
                Andes Andina IPA Andina Edición limitada    
            </div>
    <div class="precio-anterior">$130</div>
    <div class="precio-actual">$120.5 <div><button type="button" class="agregar-al-carrito">Agregar al carrito</button></div></div>
    <div class="disponibles">Disponibles: 100</div>
    <div class="descripcion-del-producto">
        <h2>Información del producto</h2>
        <p>
            La Andes IPA Andina es una cerveza estilo IPA, valga la redundancia, de la escuela Inglesa. Como seguramente usted sabe, este estilo de cerveza se caracteriza por el amargor que le otorga su alto contenido de lúpulo.
            Lo que seguramente no sabe es que la IPA Andina contiene uva mendocina. Este ingrediente es clave para que en el paladar perciba una especie de dulzor, que a su vez hace el amargor más amigable. Esta edición limitada es ideal para acompañar platos picantones, como unas papas bravas o algún dip a base de curry.
        </p> 
        </div>
    </div>
    </div>
</div>
</main>
<!--<footer> 
    <ul id="lista-footer">
        <br> 
    <div class=icono-footer>
        <i class="fas fa-credit-card"></i>
    </div>
        <li class="texto-footer"><strong>Pagá con tarjeta o en efectivo</strong></li> 
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
        <br>
    <div class="icono-footer">
        <i class="fas fa-gift"></i>
    </div>
        <li class="texto-footer"><strong>Envío gratis desde $2500</strong></li>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        <br>
    <div class="icono-footer">
        <i class="fas fa-user-shield"></i>
    </div>
        <li class="texto-footer"><strong>Seguridad, de principio a fin</strong></li>
        <p>No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer porque estás siempre protegid@ </p>
        <br>
        <li><strong>Copyrigth © 1999-2000 MercadoLiebre S.R.L.</strong></li>
    </ul>
</footer>-->
</body>
</html>