<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BirraShop!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="css/styles-register.css">
    <script src="https://kit.fontawesome.com/3280e6a789.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
           <a><img src="img/logo.webp" href="/index" alt="Logo de MercadoLiebre" class="logo"></img></a>
        </div>
        <div class="dropdown"> 
            <div class="importadas">
                <button>Importadas</button>
            </div>
            <div class="nacionales">
                <button>Nacionales</button>
            </div>
            <div class="ofertas">
                <a href="/ofertas.html">Ofertas</a> 
            </div>
        </div>
        <div class="user-menu">
            <div class="search">
                <form action="#">
                    <input type="text" placeholder="Buscar productos" name="search"><button><i class="fa fa-search" style="font-size: 20 px;"></i></button>  
                </form>
            </div>
            <div class="faq"><i class="fa-solid fa-circle-question"></i><span class="off">FAQ</span></div>
            <div class="search-icon"><i class="fa fa-search"></i></div>
            <div class="user"><i class="fa-solid fa-user"></i><span class="off">Perfil</span></div>
            <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i><span class="off">Carrito</span></a></div>
        </div>  
    </header>
    <!-- <div class="banner">
        <img src="img/banner.png" alt="Banner">
    </div> -->
    <main>
        <form action="usuarios.html" method="post">
        <div class="register">
            <div class="connect">
                <i class="fa-brands fa-facebook-square"></i><span>Inicia sesion con Facebook</span>
            </div>
            <div class="division">
            </div>
            <div>
                <input type="text" placeholder="Nombre" name="Nombre" ></input>
            </div>
            <div>
                <input type="text" placeholder="Apellido" name="Apellido" ></input>
            </div>
            <div>
                <input type="e-mail" placeholder="E-mail" name="E-mail" ></input>
            </div>
            <div>
                <input type="password" placeholder="Contraseña" name="Contraseña" ></input>
            </div>
            <div>
            <label>
                <input type="checkbox" name="Mayor de edad" >
                Soy mayor de 18 años
                </label>
            </div>
            <div>
            <label>
                <input type="checkbox" name="Términos y condiciones" >
                Acepto Términos y Condiciones
                </label>
            </div>
            <div class="button">
                <a href="/index"><input type="submit" value="Registrarme"></input></a> 
            </div>
            <div>
                <p>¿Ya sos cliente?<a href="/login"> Inicia sesión</a></p>
            </div>
    </div>
</form>
    </main>
    <footer class="footer">
        <div class="newsletter-box">
            <div><p>Unite a nuestro newsletter</p></div>
            <div>
                <form action="#">
                    <input type="text" placeholder="user@domain.com" name="search"> 
                </form>
            </div>
        </div>
        <nav class="footer-menu">
            <div class="faq-menu">
                <h3>PREGUNTAS FRECUENTES</h3>
                <a href="#">COMO COMPRAR</a>
                <a href="#">TIEMPOS Y COSTOS DE ENVÍO</a>
                <a href="#">FORMAS DE PAGO</a>
                <a href="#">CONTACTANOS</a>
                <a href="#">BOTÓN DE ARREPENTIMIENTO</a>
            </div>
            <div class="aboutus-menu">
                <h3>NOSOTROS</h3>
                <a href="#">NUESTRA HISTORIA</a>
                <a href="#">COMENTARIOS DE CLIENTES</a>
                <a href="#">PRENSA</a>
                <a href="#">TERMINOS Y CONDICIONES</a>
                <a href="#">OLITICA DE PRIVACIDAD</a>
            </div>
            <div class="empresas-menu">
                <h3>EMPRESAS</h3>
                <a href="#">NUESTRA HISTORIA</a>
                <a href="#">REGALOS<br>EMPRESARIALES</a>
            </div>
            <div class="social">
                <div><h3>Seguinos</h3></div>
                <div class="container">
                    <div><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i><span class="off">Facebook</span></a></div>
                    <div><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i><span class="off">Twitter</span></a></div>
                    <div><a href="#"><i class="fa-brands fa-whatsapp"></i><span class="off">Whatsapp</span></a></div>
                </div> 
            </div>
        </nav>
    </footer>
</body>
</html>