*{
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
    .father{
        font-family: 'Roboto';
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ebebeb;
    }
        header{
            background-color: #efefef;
            display: flex;
            flex-flow: column nowrap;
            max-height: 370px;
        }
            .menu{
                display: flex;
                flex-flow: column wrap;
                height: 450px;
                align-items: baseline;

            }
                .logo{
                    display: flex;
                    flex: 1 1 auto;
                    margin-bottom: 10px;
                    margin-left: 5px;
                }
                    .logo img{
                        width: 100%;
                        padding: 20px;
                    }

                .dropdown{
                    padding: 10px;
                    margin: 10px;
                    display: flex;
                    flex-flow: column nowrap;
                    flex: 1 1 auto;
                    height: auto;
                }
                    .importadas{
                        padding: 10px;
                        margin: 10px;
                        width: 120px;
                    }
                    .nacionales{
                        padding: 5px;
                        margin: 5px;
                        width: 120px;
                    }
                    .ofertas{     
                        padding: 5px;
                         margin: 5px;
                        width: 120px;
                    }
                        .ofertas a{
                            color:#2e2e2e;
                        }
                .user-menu{
                    padding: 10px;
                    margin: 10px;
                    align-self: center;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: baseline;
                    flex: 1 1 auto;
                }
                    .off{
                        font-size: 0px;
                    }
                    .search{
                        padding: 10px;
                        margin: 10px;
                        flex: 1 1 auto;
                    }
                    .faq{
                        padding: 10px;
                        margin: 10px;
                        flex: 1 1 auto;
                    }
                    .user{
                        padding: 10px;
                        margin: 10px;
                        flex: 1 1 auto;
                    }
                    .cart{
                        padding: 10px;
                        margin: 10px;
                        flex: 1 1 auto;
                    }
                        .cart i,
                        .faq i,
                        .user i{
                            font-size: 24px;
                        }
            .banner{
                background-size: cover;
                height: 360px;
                width: 100%;
            }
        .section{
            display: flex;
            margin: 15px 0px 15px 0px;
        }
            .aside{
                background-color: #efefef;
                flex: 3 1 auto;
                display: none;
            }
            .articles{
                background-color: #efefef;
                display: flex;
                flex: 5 1 auto;
                flex-flow:column nowrap;
                justify-content: center;
            }
                .article{
                    min-width: 250px;
                    background-color: #fff;
                    display: flex;
                    flex-flow: column nowrap;
                    margin: 0 .35rem 1rem;
                    width: 230px;
                    height: 500px;
                    border-radius: 4px;
                    box-shadow: 0 3px 6px #0000000f;
                    
                }
                    .product-img{
                        border-bottom: none;
                        height: auto;
                        padding: 0;
                        flex: 2 1 100%;
                    }
                        .product-img img{
                            display: block;
                            width: auto;
                            height: 100%;
                            max-height: 300px;
                            box-sizing: border-box;
                            padding: 0;
                        }
                    .description{
                        flex: 1 1 auto;
                        font-weight: 500;
                        display: block;
                        font-size: .77rem;
                        margin-top: 0;
                        color: #221e20cc;
                        text-transform: uppercase;
                    }
                        .discount{
                            font-size: .81rem;
                            color: #999;
                            text-decoration:line-through;
                        }
                        .price{
                            text-decoration: none;
                            font-weight: 400;
                        }
                        .class{
                            font-weight: 500;
                            display: block;
                            font-size: .77rem;
                            margin-top: 0;
                            color: #221e20cc;
                            text-transform: uppercase;
                        }
                        .info{
                            color: #41416c;
                            font-size: .65rem;
                            font-weight: 700;
                            margin-bottom: 5px;
                            line-height: .9rem;
                          }
        .footer{
            background: #2e2e2e;
            display: flex;
            flex-flow: column nowrap;
            height: auto;
            align-items: center;
        }
            .newsletter-box{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                padding: 5px;
                margin: 5px;
            }
                .newsletter-box div p{
                    font-size: 22px;
                    font-weight: 600;
                }
                
            .footer-menu{
                margin: 10px;
                display: flex;
                flex-flow: row nowrap;
                color: #fff;
                width: 100%;
                align-content: flex-start;
            }
                .part1,
                .part2,
                .part3,
                .social{
                    color: #fff;
                    display: flex;
                    flex-flow: column nowrap;
                    flex: 1 1 auto;
                }
                    .container{
                        display: flex;
                        flex-flow: row nowrap;
                        padding: 0px
                    }
                .h3{
                    flex: 1 1 100%;
                }
                    .faq-menu,
                    .aboutus-menu,
                    .empresas-menu{
                        display: flex;
                        flex-flow: column nowrap;
                        padding: 5px;
                        width: 100%;
                    }
                        .faq-menu a,
                        .aboutus-menu a,
                        .empresas-menu a,
                        .social div a{
                            color: #fff;
                            padding-right: 10px;
                        }
                        .social div i{
                            padding-right: 5px;
                        }

  

@media all and (min-width:480px){
    .articles{
        flex-flow: row wrap;
    }
    .banner{
        height: 200px;
    }
}

@media all and (min-width: 600px){
    header{
        max-height: 310px;
    }
    .article{
        flex: 1 1 30%;
    }
    .dropdown{
        flex-flow: row nowrap;
    }
    .off{
        font-size: 16px
    }
    
}
@media all and (min-width: 768px){
    .aside{
        display: flex;
    }
    .menu{
        flex-flow: row nowrap;
        flex: 1 1 auto;
    }
    .user-menu{
        display: flex;
        align-content:center ;
        flex: 4 1 auto;
    }
    .logo{
        flex: 1 2 auto;
    }
    .banner{
        background-size: cover;
        height: 360px;   
    }
    .off{
        font-size: 0px;
    }

}
@media all and (min-width: 900){
    .off{
        font-size: 16 px;
    }
   
}
@media all and (min-width: 1279px){
    .article{
        flex: 1 1 23%;
    }
    .banner{
        background-size: cover;
        height: 360px;
        width: 90%;
        align-self: center;
    }
}