*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
}
    header{
        background-color: #ebebeb;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
        height: 120px;
    }
        .burger-menu {
            text-align: center;
            margin-top: 25px;
            margin-left: 10px;
            font-size: 20px;
        }
            .burger-menu i {
                color: black;
                padding: 10px;
                border-radius: 5px;
                font-size: 2em;
            }
        .logo a img{
            height: 100px;
            width: auto;
            padding-top: 10px;
            padding-left: 70px;
            }
        .dropdown{
            padding: 10px;
            margin: 10px;
            display: none;
        }
        .ofertas a{
            color:black;
        }
.user-menu{
    padding: 10px;
    margin: 10px;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}
    .off{
        font-size: 0px;
    }
    .search{
        padding: 8px;
        display: none;
    }

    .faq{
        padding: 8px;
        display: none;
    }
    .search-icon{
        padding: 8px;
        font-size: 2.5em;
    }
    .user{
        padding: 8px;
    }
    .cart{
        padding: 8px;
    }
        .cart i,
        .faq i,
        .user i{
            font-size: 2em;
            color: black;
        }
.banner{
background-size: cover;
width: auto;
}
.footer{
    background: #2e2e2e;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    width: 100vw;
    align-items: center;
}
    .newsletter-box{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 5px;
        margin: 5px;
    }
        .newsletter-box div p{
            font-size: 22px;
            font-weight: 600;
        }
        
    .footer-menu{
        margin: 10px;
        display: flex;
        flex-flow: row nowrap;
        color: #fff;
        width: 100%;
        align-content: flex-start;
    }
        .part1,
        .part2,
        .part3,
        .social{
            color: #fff;
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 auto;
        }
            .container{
                display: flex;
                flex-flow: row nowrap;
                padding: 0px
            }
        .h3{
            flex: 1 1 100%;
        }
            .faq-menu,
            .aboutus-menu,
            .empresas-menu{
                display: flex;
                flex-flow: column nowrap;
                padding: 5px;
                width: 100%;
            }
                .faq-menu a,
                .aboutus-menu a,
                .empresas-menu a,
                .social div a{
                    color: #fff;
                    padding-right: 10px;
                }
                .social div i{
                    padding-right: 5px;
                }

main,
.register,
input,
.division
{
    font-size: 20px;
    font-family:'Roboto';
    margin: 10px;
    align-items: center;
}
.connect{
    background-color: rgb(29, 29, 170);
    color: #FFF;
    padding: 5px;
 
}
span{
    font-size: 15px;
}
.division{
    border-bottom: solid 3px black;
    width: 400px;
}
label, p{
    font-size: 17px;
}
.button input{
    background-color: purple;
    color: #FFF;
    border: none;
    padding: 5px;
    border-radius: 4px;
}
.register{
    text-align: center;
    
}








/* # Tablet */
@media (min-width: 768px){
    .burger-menu{
        display: none;
    }
    .logo a img{
        padding-left: 30px;
    }
    .dropdown{
        display: flex;
        flex-flow: row nowrap;
        justify-items:center;
        align-items:center;
    }
        .importadas{
            padding: 4px;     
        }
        .nacionales{
            padding: 4px; 
        }
        .ofertas{     
            padding: 4px; 
        }
    .search{
        display: flex;
        width: 80%;
        position: relative;
    }
    .search-icon{
        display: none;
    }
                .cart i,
                .faq i,
                .user i{
                    font-size: 2.em;
                    
                }
    .faq{
        display: block;
    }
    
}




/* # Desktop */
@media (min-width: 992px){
    .off{
        padding: 4px;
        font-size: 16px;
        color: black;
    }
    .off2{
        padding: 4px;
        font-size: 16px;
        color: white;
    }
    .banner{
        height: 250px;
    }
        .banner img{
            height: 250px;
            width: 100vw;
        }
    .section{
        display: flex;
        flex-flow: row nowrap;
    }
    .articles article{
        width: 20%;
    }
    .aside{
        display: none;
        flex: 1 2 auto;
        width: 250px;
    }
    .beer2 .product-img img,
    .beer3 .product-img img,
    .beer4 .product-img img,
    .beer5 .product-img img,
    .beer7 .product-img img,
    .beer10 .product-img img,
    .beer11 .product-img img,
    .beer12 .product-img img{
        margin-left: -55px;
    }
            .beer1 .product-img img,
            .beer6 .product-img img,
            .beer8 .product-img img,
            .beer9 .product-img img{
                margin-top: -55px;
            }
    footer .footer-menu{
        display: flex;
        justify-content: space-evenly;
    }
}