*{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
  }
body{
    padding: 0px;
    background-color: #f0f0f0;
}
    /* HEADER */
    header{
        background-color: #ebebeb;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }
        .burger-menu {
            text-align: left;
            font-size: 20px;
            order: 0;
            width: 100%;
            margin: 10px;
        }
            .burger-menu i {
                color: black;
                padding: 10px;
                border-radius: 5px;
                font-size: 2em;
            }
        .logo{
            width: 30%;
                max-height: 160px;
            text-align: center;
        }
            .logo a img{
                width: auto;
                max-height: 100px;
                height: auto;
                margin: 10px;
            }
        .menu-y-dropdown{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            display: none;
        }
            .dropdown{
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                display: none;
            }
                .drop-nacionales,
                .drop-importadas {
                    position: relative;
                    display: inline-block;
                }
                    .dropbtn {
                        background-color: #ebebeb;
                        color: black;
                        font-size: 16px;
                        border: none;
                    }
                        .dropdown-content {
                            display: none;
                            position: absolute;
                            background-color: #f1f1f1;
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;
                        }
                        .dropdown-content a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                        }
                            .dropdown-content a:hover {
                                background-color: #ddd;
                            }
                            .drop-nacionales:hover .dropdown-content,
                            .drop-importadas:hover .dropdown-content {
                                display: block;
                            }
                            .drop-nacionales:hover .dropbtn,
                            .drop-importadas:hover .dropbtn {
                                background-color: #696969;
                            } 
                .ofertas{
                    background-color: #ebebeb;
                    color: black;
                    font-size: 16px;
                    border: none;
                }
                    .ofertas a{
                        color: black;
                        padding: 1px 6px;
                    }
            .user-menu{
                align-self: center;
                display: flex;
                flex-flow: row wrap;
                margin: 5px;
                align-items: center;
                width: 100%;
            }  
                .search{
                display: none;                
                flex: 7 1 auto;
                width: 80px;
                margin: 10px;
                }
                    .search input{
                        width: 80%;
                    }
                    .fa-search{
                        border: 1px solid black;
                        border-radius: 5px;
                        border: none;
                    }
                    .user-menu div form{
                        width: 100%;
                        text-align: start;
                        display: none;
                    }
                
                .menu-usuario{
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                    align-items: center;
                    margin: 10px;
                }
                    .menu-usuario div span{
                        display: none;
                        color: black;
                    }
                        .menu-usuario .fa-circle-question,
                        .fa-question-circle{
                            display: none;
                        }
                .user{
                    padding: 0%;
                    margin: 0%;
                    flex: none;
                }     
                .cart{
                    padding: 5px;
                    flex: none;
                }
               





                .banner img{
                    width: 100vw;
                    height: auto;
                }













        .section{
            display: flex;
            height: auto;
            margin: 15px 0px 15px 0px;
        }
            .aside{
                background-color: #efefef;
                flex: 3 1 auto;
                display: none;
            }
            .articles{
                background-color: #efefef;
                display: flex;
                flex: 5 1 auto;
                flex-flow:column nowrap;
                justify-content: center;
                position: absolute;
            }
                .article{
                    min-width: 250px;
                    background-color: #fff;
                    display: flex;
                    flex: 1 1 100%;
                    flex-flow: column nowrap;
                    margin: 0 .35rem 1rem;
                    width: 230px;
                    height: 500px;
                    border-radius: 4px;
                    box-shadow: 0 3px 6px #0000000f;
                    
                }
                    .productimg{
                        border-bottom: none;
                        height: auto;
                        padding: 0;
                    }
                    .description{
                        flex: 1 3 auto;
                        font-weight: 500;
                        display: block;
                        font-size: .77rem;
                        margin-top: 0;
                        color: #221e20cc;
                        text-transform: uppercase;
                    }
                        .discount{
                            font-size: .81rem;
                            color: #999;
                            text-decoration:line-through;
                        }
                        .price{
                            text-decoration: none;
                            font-weight: 400;
                        }
                        .class{
                            font-weight: 500;
                            display: block;
                            font-size: .77rem;
                            margin-top: 0;
                            color: #221e20cc;
                            text-transform: uppercase;
                        }
                        .info{
                            color: #41416c;
                            font-size: .65rem;
                            font-weight: 700;
                            margin-bottom: 5px;
                            line-height: .9rem;
                          }
        .footer{
            background: #2e2e2e;
            display: flex;
            flex-flow: column nowrap;
            height: auto;
            align-items: center;
        }
            .newsletterbox{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                padding: 5px;
                margin: 5px;
            }
                .newsletterbox div p{
                    font-size: 22px;
                    font-weight: 600;
                }
                
            .footer-menu{
                margin: 10px;
                padding-left: 5px;
                display: flex;
                flex-flow: column nowrap;
                color: #fff;
                width: 100%;
                align-content: flex-start;
            }
                .part1,
                .part2,
                .part3,
                .social{
                    color: #fff;
                    display: flex;
                    flex-flow: column nowrap;
                    flex: 1 1 auto;
                }
                    .container{
                        display: flex;
                        flex-flow: row nowrap;
                        padding: 0px;
                    }
                .h3{
                    flex: 1 1 100%;
                }
                    .faq-menu,
                    .aboutus-menu,
                    .empresas-menu,
                    .social{
                        display: flex;
                        flex-flow: column nowrap;
                        padding: 5px;
                        width: 100%;
                    }
                        .faq-menu a,
                        .aboutus-menu a,
                        .empresas-menu a,
                        .social div a{
                            color: #fff;
                            padding-right: 10px;
                        }
                        .social div i{
                            padding-right: 5px;
                        }
main{
    max-width: 100vw;
    height: auto;
    padding-top: 0px;
}
.agregar-al-carrito{
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    align-self: center;
    color: white;
    font-weight: bold;
    background-color: #3483fa ;
    margin-top: 5px;
}
.agregar-al-carrito:hover{
    border-right: 1px solid white;
    border-top: 1px solid white;
    box-shadow: 0px 0px 10px 0px rgb(100, 100, 100);
}
h2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 500;
}
.imagen-producto img {
    width: auto;
    max-height: 315px;
}
.imagen-producto{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titulo-del-producto{
    font-size: 2rem;
    font-weight: 400;
}
.precio-anterior{
    font-size: 0.7rem;
    color: #999;
    text-decoration: line-through;
    width: 100%;
}
.precio-actual{
    font-size: 1.75rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
    width: 50%;
}
.descuento{
    margin-left: 5px;
    font-size: 0.75rem;
    color: #11d111;
    font-weight: 700;
}
.disponibles{
    font-size: 0.6rem;
    width: 100%;
    border-bottom: 1px solid #ccd3da;
    padding-bottom: 10px;
    color: #999;

}
.texto-descripcion{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    align-content: center;
    line-height: 1.7rem;
}
.cuerpo-descripcion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 50%;
    width: 100%;
}   
.descripcion-del-producto{
    text-align: justify;
    border-bottom: 1px solid #ccd3da;
}
body {
    margin: auto;
    padding: 0;
  }
p{
font-size: 1rem;
}
.banner{
    display: none;
}
.caja-descripcion{
    width: 100%;
}

.newsletter-box {
    width: 60%;
}
footer .newsletter-box div input{
    width: 100%;
}
footer .newsletter-box p{
    text-align: center;
    color: #ccc5b9;
    margin-bottom: 5px;
}
.header-iconos{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: flex-end;
}
.boton-prueba{
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 30px;
    right: 30px;
    background: black;
    color: rgb(105, 101, 101);
    border-radius: 50px;
    font-size: 25px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0,3);
    z-index: 100;
    line-height: 1px;
}
.gap-xxs{
    list-style: none;
    padding: 5px;
    display: flex;
}
.barra-van{
    margin-right: 5px;
    font-style: none;
    color: #504c4c;

}

    

   

    
    .user{
        padding: 8px;
    }
    .cart{
        padding: 8px;
    }
        .cart i,
        .faq i,
        .user i{
            color: black;
        }
.faq ,
.cart .fa-cart-shopping,
.user .fa-user{
    font-size: 2rem;
}


.articles{
    flex-flow: row wrap;
}
.banner{
    display: block;
}

.faq{
    padding: 0%;
    flex: none;
}
.user{
    padding: 0%;
    margin: 0%;
    flex: none;
}     
.cart{
    padding: 0%;
    flex: none;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.off{
    font-size: 16px;
    color: #fff;
}
.off2{
    color: black;
}



.imagen-producto{
    width: 100%;
}
.imagen-producto:hover{
    -webkit-transform:scale(1.3);
    transform:scale(1.45);
    filter: saturate(150%);
    transition: all 700ms ease-in-out;
}
.imagen-producto{
    overflow:hidden;
}
    .article{
        flex: 1 1 30%;
    }


.footer-menu{
    flex-flow: row nowrap;
}


.fas.fa-search{
    font-size: 2rem;
    color: black;
    border: none;
}

.footer-menu{
    flex-flow: column;
}
.fa-arrow-up-to-line{
    color: #fff;
}











































@media all and (min-width:421px) {
        /* FOOTER */
    .footer-menu{
        flex-flow: row nowrap;
    }
}
@media all and (min-width: 768px){
        /* HEADER */
    header{
        flex-wrap: wrap;
    }
    .user-menu div form{
        display: block;
    }    
    .aside{
        display: flex;
    }
    .menu{
        flex-flow: row nowrap;
        flex: 1 1 auto;
    }
    .menu-usuario div span{
        display: block;
    }
    .magnifying{
        display: none;
    }
    .user-menu{
        width: 75%;
        align-items: center;
        justify-content: center;
    }
    .menu-usuario .fas.fa-search{
        display: none;
    }
    .menu-usuario{
        width: 20%;
        justify-content: space-around;
    }
    .menu-usuario .fa-circle-question,
    .fa-question-circle{
        display: block;
    }
    .dropdown{
        display: flex;
        width: 100%;
    }
    .menu-y-dropdown{
        order: 3;
        display: block;
    }
    .faq{
        padding: 0%;
        flex: none;
    }
    .user{
        padding: 0%;
        margin: 0%;
        flex: none;
    }     
    .cart{
        padding: 0%;
        flex: none;
    }
    .logo img{
        width: auto;
    }
    .banner{
        background-size: cover;
        height: auto;   
    }
    .logo{
            width: 20%;
        }
    .imagen-producto img{
        width: auto;
        max-height: 392px;
    }
    .burger-menu {
        display: none;
    }
    .cuerpo-descripcion{
        flex-wrap: nowrap;
        justify-content: flex-start;
        height: 50%;
        width: 100%;
    }
    .imagen-producto{
        width: 50%;
    }   
    .caja-descripcion{
        display: flex;
        flex-direction: row;
        margin: 5px;
        padding: 10px;
    }
    .search-icon{
        display: none;
    }
    .faq{
        display: block;
    }
    .banner img{
        height: auto;
        width: 100vw;
    }
    .search{
        display: block;
    }
}
@media all and (min-width: 992){
    .faq{
        margin: 0px;
    }
    .user{
        margin: 0px;
    }
    .cart{
        margin: 0px;
    }

    .imagen-producto{
        width: 100%;
        max-height: 392px;
    }
    .banner{
        height: auto;
    }
}
@media all and (min-width: 1279px){
    .article{
        flex: 1 1 23%;
    }
    .banner{
        background-size: cover;
        height: 360px;
        width: 90%;
        align-self: center;
    }
    .imagen-producto img {
        max-height: 370px;
    }  
    .user-menu{
        width: 79%;
    }
}