*{
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    padding: 0px;
    background-color: #f0f0f0;
}
    .father{
        display: flex;
        flex-flow: column nowrap;
        padding: 0px;
    }
    header{
        background-color: #ebebeb;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
        height: auto;
    }
            .menu{
                display: flex;
                flex-flow: column nowrap;
                height: auto;
                align-items: center;
                flex: 1 1 auto;
                margin-top: 10px
            }
                    .dropdown{
                        padding: 10px;
                        margin: 10px;
                        display: flex;
                        flex-flow: column nowrap;
                        align-self: center;
                        flex: 6 1 auto;
                        height: auto;
                        justify-content: center;
                        order: 3;
                    }
                        .importadas{
                            padding: 10px;
                            margin: 10px;
                            background: #5B7DB1;
                            width: 120px;
                        }
                        .nacionales{
                            padding: 10px;
                            margin: 10px;
                            background: #5B7DB1;
                            width: 120px;
                        }
                        .ofertas{
                            padding: 10px;
                            margin: 10px;
                            background: #5B7DB1;
                        }
                    .user-menu{
                        margin: 10px;
                        align-self: center;
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                    }
                        .off{
                            font-size: 0px;
                        }
                        .search{                
                            flex: 1 1 auto;
                            }
                        .faq{
                            flex: 1 1 auto;
                        }
                        .user{
                            flex: 1 1 auto;
                        }
                        .cart{
                            flex: 1 1 auto;
                        }
                .banner img{
                    width: 100vw;
                    height: auto;
                }
        .section{
            display: flex;
            height: auto;
            margin: 15px 0px 15px 0px;
        }
            .aside{
                background-color: #efefef;
                flex: 3 1 auto;
                display: none;
            }
            .articles{
                background-color: #efefef;
                display: flex;
                flex: 5 1 auto;
                flex-flow:column nowrap;
                justify-content: center;
                position: absolute;
            }
                .article{
                    min-width: 250px;
                    background-color: #fff;
                    display: flex;
                    flex: 1 1 100%;
                    flex-flow: column nowrap;
                    margin: 0 .35rem 1rem;
                    width: 230px;
                    height: 500px;
                    border-radius: 4px;
                    box-shadow: 0 3px 6px #0000000f;
                    
                }
                    .productimg{
                        border-bottom: none;
                        height: auto;
                        padding: 0;
                    }
                    .description{
                        flex: 1 3 auto;
                        font-weight: 500;
                        display: block;
                        font-size: .77rem;
                        margin-top: 0;
                        color: #221e20cc;
                        text-transform: uppercase;
                    }
                        .discount{
                            font-size: .81rem;
                            color: #999;
                            text-decoration:line-through;
                        }
                        .price{
                            text-decoration: none;
                            font-weight: 400;
                        }
                        .class{
                            font-weight: 500;
                            display: block;
                            font-size: .77rem;
                            margin-top: 0;
                            color: #221e20cc;
                            text-transform: uppercase;
                        }
                        .info{
                            color: #41416c;
                            font-size: .65rem;
                            font-weight: 700;
                            margin-bottom: 5px;
                            line-height: .9rem;
                          }
        .footer{
            background: #2e2e2e;
            display: flex;
            flex-flow: column nowrap;
            height: auto;
            align-items: center;
        }
            .newsletterbox{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                padding: 5px;
                margin: 5px;
            }
                .newsletterbox div p{
                    font-size: 22px;
                    font-weight: 600;
                }
                
            .footer-menu{
                margin: 10px;
                padding-left: 5px;
                display: flex;
                flex-flow: column nowrap;
                color: #fff;
                width: 100%;
                align-content: flex-start;
            }
                .part1,
                .part2,
                .part3,
                .social{
                    color: #fff;
                    display: flex;
                    flex-flow: column nowrap;
                    flex: 1 1 auto;
                }
                    .container{
                        display: flex;
                        flex-flow: row nowrap;
                        padding: 0px;
                    }
                .h3{
                    flex: 1 1 100%;
                }
                    .faq-menu,
                    .aboutus-menu,
                    .empresas-menu,
                    .social{
                        display: flex;
                        flex-flow: column nowrap;
                        padding: 5px;
                        width: 100%;
                    }
                        .faq-menu a,
                        .aboutus-menu a,
                        .empresas-menu a,
                        .social div a{
                            color: #fff;
                            padding-right: 10px;
                        }
                        .social div i{
                            padding-right: 5px;
                        }
main{
    max-width: 100vw;
    height: auto;
}
.agregar-al-carrito{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(145, 145, 145);
    box-shadow: 0px 0px 10px 0px rgb(100, 100, 100);
    width: 100%;
    align-self: center;
    color: white;
    font-weight: bold;
    background-color: #4484cc ;
}
h2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 600;
}
.imagen-producto img {
    width: auto;
    max-height: 315px;
}
.imagen-producto{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titulo-del-producto{
    font-size: 1.2rem;
    font-weight: bold;
}
.precio-anterior{
    font-size: 0.7rem;
    color: #999;
    text-decoration: line-through;
    width: 100%;
}
.precio-actual{
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
    width: 50%;
}
.descuento{
    margin-left: 5px;
    font-size: 0.75rem;
    color: #11d111;
    font-weight: 700;
}
.disponibles{
    font-size: 0.6rem;
    width: 100%;
    border-bottom: 1px solid #ccd3da;
    padding-bottom: 10px;
    color: #999;

}
.texto-descripcion{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    align-content: center;
}
.cuerpo-descripcion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 50%;
    width: 100%;
}   
.descripcion-del-producto{
    text-align: justify;
    border-bottom: 1px solid #ccd3da;
}
body {
    margin: auto;
    padding: 0;
  }
p{
font-size: 0.8rem;
}
.banner{
    display: none;
}
.caja-descripcion{
    width: 100%;
}
.search input{
    width: 75%;
    margin-left: 10px;
}
.faq{
    padding: 0%;
    flex: none;
}
.user{
    padding: 0%;
    margin: 0%;
    flex: none;
}     
.cart{
    padding: 0%;
    flex: none;
}
.user-menu{
    width: 100%;
}
.newsletter-box {
    width: 60%;
}
footer .newsletter-box div input{
    width: 100%;
}
footer .newsletter-box p{
    text-align: center;
    color: #ccc5b9;
    margin-bottom: 5px;
}
.header-iconos{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: flex-end;
}
.boton-prueba{
    position: fixed;
    width: 45px;
    height: 45px;
    line-height: 45px;
    bottom: 30px;
    right: 30px;
    background: black;
    color: rgb(105, 101, 101);
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0,3);
    z-index: 100;
}
.gap-xxs{
    list-style: none;
    padding: 5px;
    display: flex;
}
.barra-van{
    margin-right: 5px;
    font-style: none;
    color: #504c4c;

}
.burger-menu {
    text-align: center;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 20px;
}
    .burger-menu i {
        color: black;
        padding: 10px;
        border-radius: 5px;
        font-size: 2em;
    }
.dropdown{
    display: none;
}
    .dropbtn {
        background-color: #ebebeb;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
    }
    .drop-nacionales,
    .drop-importadas {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }
        .drop-nacionales:hover .dropdown-content,
        .drop-importadas:hover .dropdown-content {
            display: block;
        }
        .drop-nacionales:hover .dropbtn,
        .drop-importadas:hover .dropbtn {
            background-color: #696969;
        } 

    .ofertas{     
        background-color: #ebebeb;
        color: black;
        padding: 10px;
        font-size: 16px;
        border: none;
    }
        .ofertas a{
            color:black;
        }
.user-menu{
    padding: 10px;
    margin: 10px;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}
    .off{
        font-size: 0px;
    }
    .faq{
        padding: 8px;
        display: none;
    }
    .search-icon{
        padding: 8px;
        font-size: 2.5em;
    }
    .user{
        padding: 8px;
    }
    .cart{
        padding: 8px;
    }
        .cart i,
        .faq i,
        .user i{
            color: black;
        }
.faq .fa-circle-question,
    .cart .fa-cart-shopping,
    .user .fa-user{
    font-size: 1rem;
}

@media all and (min-width:480px){
    .articles{
        flex-flow: row wrap;
    }
    .banner{
        display: block;
    }
.user-menu{
    width: 100%;
    margin-bottom: 10px;
}
.faq{
    padding: 0%;
    flex: none;
}
.user{
    padding: 0%;
    margin: 0%;
    flex: none;
}     
.cart{
    padding: 0%;
    flex: none;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
.off{
    font-size: 16px
}
}

@media all and (min-width: 600px){
    .article{
        flex: 1 1 30%;
    }
.dropdown{
    display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: flex-start;
        max-width: 40%;
        align-items: center;
    }
    .search{
        flex: 7 1 auto;
        width: 80px;
        margin: 10px;
    }
    
.user-menu{
    width: 100%;
}
.footer-menu{
    flex-flow: row nowrap;
}
}
@media all and (min-width: 768px){
    .aside{
        display: flex;
    }
    .menu{
        flex-flow: row nowrap;
        flex: 1 1 auto;

    }
    .user-menu{
        display: flex;
        align-content:center ;
        flex: 4 1 auto;
        width: 50%;
        order: 2;

    }
    .faq{
        padding: 0%;
        flex: none;
    }
    .user{
        padding: 0%;
        margin: 0%;
        flex: none;
    }     
    .cart{
        padding: 0%;
        flex: none;
    }
    /* .dropdown{
        margin: 0%;
        padding: 0%;
        justify-content: center;
        display: flex;
        flex-flow: row nowrap;
        justify-items:center;
        align-items:center;
        } */
    }
    .logo img{
        width: auto;
    }
    .banner{
        background-size: cover;
        height: auto;   
    }
.imagen-producto img{
    width: auto;
    max-height: 392px;
}
.cuerpo-descripcion{
    height: 49%;
}
.caja-descripcion{
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 10px;
    max-width: 100%;
}
.burger-menu{
    display: none;
}
.logo a img{
    padding-left: 30px;
    height: 100px;
    width: auto;
    padding-top: 10px;
}
    .importadas{
        padding: 4px;     
    }
    .nacionales{
        padding: 4px; 
    }
    .ofertas{     
        padding: 4px; 
    }
.search-icon{
    display: none;
}
.faq{
    display: block;
}
    .banner img{
        height: auto;
        width: 100vw;
    }
}
@media all and (min-width: 992){
.faq{
    margin: 0px;
}
.user{
    margin: 0px;
}
.cart{
    margin: 0px;
}
}
.imagen-producto{
    width: 49%;
    max-height: 392px;
}
.caja-descripcion{
    width: 49%;
}
.off{
    padding: 4px;
    font-size: 16px;
    color: black;
}
.off2{
    padding: 4px;
    font-size: 16px;
    color: white;
}
.banner{
    height: auto;
}
.user-menu{
    order: 3;
}
}
@media all and (min-width: 1279px){
    .article{
        flex: 1 1 23%;
    }
    .banner{
        background-size: cover;
        height: 360px;
        width: 90%;
        align-self: center;
    }
    .imagen-producto img {
        max-height: 370px;
    }  
.user-menu{
    width: 30%;
}
}