*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBEBEB;
}
main{
    width: 90vw;
    background: white;
    padding: 30px;
}
/* css header */
header{
    background-color: #EBEBEB;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    height: 120px;
}
    .burger-menu {
        text-align: center;
        margin-top: 25px;
        margin-left: 10px;
        font-size: 20px;
    }
        .burger-menu i {
            color: black;
            padding: 10px;
            border-radius: 5px;
            font-size: 2em;
        }
    .logo a img{
        height: 100px;
        width: auto;
        padding-top: 10px;
        padding-left: 70px;
        }
    .dropdown{
        display: none;
    }
        .dropbtn {
            background-color: #EBEBEB;
            color: black;
            padding: 16px;
            font-size: 16px;
            border: none;
        }
        .drop-nacionales,
        .drop-importadas {
            position: relative;
            display: inline-block;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #F1F1F1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
            .dropdown-content a:hover {
                background-color: #ddd;
            }
            .drop-nacionales:hover .dropdown-content,
            .drop-importadas:hover .dropdown-content {
                display: block;
            }
            .drop-nacionales:hover .dropbtn,
            .drop-importadas:hover .dropbtn {
                background-color: #696969c4;
            }
        .ofertas{
            background-color: #EBEBEB;
            color: black;
            padding: 10px;
            font-size: 16px;
            border: none;
        }
            .ofertas a{
                color:black;
                padding: 16px;
            }
    .user-menu{
        padding: 10px;
        margin: 10px;
        align-self: center;
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
    }
        .off{
            font-size: 0px;
        }
        .search{
            padding: 8px;
            display: none;
        }
        .faq{
            padding: 8px;
            display: none;
        }
        .search-icon{
            padding: 8px;
            font-size: 2.5em;
        }
        .user{
            padding: 8px;
        }
        .cart{
            padding: 8px;
        }
            .cart i,
            .faq i,
            .user i{
                font-size: 2.4em;
                color: black;
            }
            /* css header */
/* productCart */
hr{
    height: 5px;
    border-radius: 2px;
    background-color: gray;
}
.container1{
    max-width: 1200px;
    margin: 0 auto;
}
.container1 > h1{
    padding: 20px 0;
}
.cart1{
    display: flex;
}
.products{
    flex: 0.75;
}
.product{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 20px;
}
.product:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.01);
}
.product > img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.product > img:hover{
    transform: scale(1.04);
}
.product-info{
    padding: 20px;
    width: 100%;
    position: relative;
}
.product-name, .product-price, .product-offer{
    margin-bottom: 20px;
}
.product-remove{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 15px;
    background-color: tomato;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
.product-remove:hover{
    background-color: white;
    color: tomato;
    font-weight: 400;
    border: 1px solid tomato;
}
.product-quantity > input{
    width: 40px;
    padding: 5px;
    text-align: center;
}
/* .fa{
    margin-right: 5px;
} */
.cart-total{
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: 240px;
    border: 1px solid silver;
    border-radius: 5px;
}
.cart-total p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}
.cart-total a{
    display: block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: green;
    color: white;
    text-decoration: none;
}
.cart-total a:hover{
    background-color: red;
}
/* css footer */
.footer{
    background: #2E2E2E;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    width: 100vw;
    align-items: center;
    text-align: center;
    padding: 20px;
    }
    .newsletter-box{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 5px;
        margin: 5px;
    }
        .newsletter-box div p{
            font-size: 22px;
            font-weight: 200;
            color: white;
            padding-bottom: 15px;
        }
    .footer-menu{
        padding-top: 10px;
        margin: 10px;
        display: flex;
        flex-flow: row nowrap;
        color: #fff;
        width: 100%;
        align-content: flex-start;
    }
        .part1,
        .part2,
        .part3,
        .social{
            color: #fff;
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 auto;
        }
            .container{
                display: flex;
                flex-flow: row nowrap;
                padding: 0px
            }
        .h3{
            flex: 1 1 100%;
        }
            .faq-menu,
            .aboutus-menu,
            .empresas-menu{
                display: flex;
                flex-flow: column nowrap;
                padding: 7px;
                width: 100%;
            }
                .faq-menu a,
                .aboutus-menu a,
                .empresas-menu a,
                .social div a{
                    color: #fff;
                    padding-right: 10px;
                    padding-top: 7px;
                }
                .social div i{
                    font-size: 20px;
                    padding: 8px;
                }
                /* css footer */
/* # Tablet */
@media (min-width: 768px){
    /* css header */
    .burger-menu{
        display: none;
    }
    .logo a img{
        padding-left: 30px;
    }
    .dropdown{
        display: flex;
        flex-flow: row nowrap;
        justify-items:center;
        align-items:center;
    }
        .importadas{
            padding: 4px;
        }
        .nacionales{
            padding: 4px;
        }
        .ofertas{
            padding: 4px;
        }
    .search{
        display: flex;
        width: 80%;
        position: relative;
    }
    .search-icon{
        display: none;
    }
                .cart i,
                .faq i,
                .user i{
                    font-size: 2em;
                    color: black;
                }
    .faq{
        display: block;
    }
    .banner{
        height: 200px;
    }
        .banner img{
            height: 200px;
            width: 90vw;
        }
        /* css header */
    }
/* # Desktop */
@media (min-width: 992px){
    /* css header */
    .off{
        padding: 4px;
        font-size: 16px;
        color: black;
    }
        .cart,
        .faq,
        .user{
            display: block;
        }
                .cart i,
                .faq i,
                .user i{
                    font-size: 2em;
                    color: black;
                }
                .faq .fa-circle-question{
                    font-size: 1.2rem;
                }
                /* css header */
                /* css footer */
    footer .footer-menu{
        display: flex;
        justify-content: space-evenly;
    }
    .off2{
        padding: 4px;
        font-size: 16px;
        color: white;
    }
    /* css footer */
}
@media screen and (max-width: 700px){
    .remove{
        display: none;
    }
    .product{
        height: 150px;
    }
    .product > img{
        height: 150px;
        width: 200px;
    }
    .product-name, .product-price, .product-offer{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 900px){
    .cart1{
        flex-direction: column;
    }
    .cart-total{
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1220px){
    .container1{
        max-width: 95%;
    }
}