*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*body{
    font-family: 'Roboto';
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
<<<<<<< HEAD
}*/
=======
}

    /* css header */
>>>>>>> 5faad73fc4bbc7bf659384e8f6a03bea5e5b4c28
    header{
        background-color: #ebebeb;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
        height: 120px;
    }
        .burger-menu {
            text-align: center;
            margin-top: 25px;
            margin-left: 10px;
            font-size: 20px;
        }
            .burger-menu i {
                color: black;
                padding: 10px;
                border-radius: 5px;
                font-size: 2em;
            }
        .logo a img{
            height: 100px;
            width: auto;
            padding-top: 10px;
            padding-left: 70px;
            }
        .dropdown{
            display: none;
        }
            .dropbtn {
                background-color: #ebebeb;
                color: black;
                padding: 16px;
                font-size: 16px;
                border: none;
            }
            .drop-nacionales,
            .drop-importadas {
                position: relative;
                display: inline-block;
            }
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
    
                .dropdown-content a:hover {
                    background-color: #ddd;
                }
                .drop-nacionales:hover .dropdown-content,
                .drop-importadas:hover .dropdown-content {
                    display: block;
                }
                .drop-nacionales:hover .dropbtn,
                .drop-importadas:hover .dropbtn {
                    background-color: #696969c4;
                } 

            .ofertas{     
                background-color: #ebebeb;
                color: black;
                padding: 10px;
                font-size: 16px;
                border: none;
            }
                .ofertas a{
                    color:black;
                    padding: 16px;
                }
        .user-menu{
            padding: 10px;
            margin: 10px;
            align-self: center;
            display: flex;
            flex-flow: row nowrap;
            align-items: baseline;
        }
            .off{
                font-size: 0px;
            }
            .search{
                padding: 8px;
                display: none;
            }
                .search input{
                    width: 120px;
                }
            .faq{
                padding: 8px;
                display: none;
            }
            .search-icon{
                padding: 8px;
                font-size: 2.5em;
            }
            .user{
                padding: 8px;
            }
            .cart{
                padding: 8px;
            }
                .cart i,
                .faq i,
                .user i{
                    font-size: 2.4em;
                    color: black;
                }

                /* css header */

    .banner{
        display: block;
        height: 120px;
        
    }
        .banner img{
            height: 120px;
            width: 90vw;
        }
    .barra-navegacion{
        padding-left: 15px;
        padding-top: 10px;
    }
        .lista-producto{
            list-style: none;
            padding: 5px;
            display: flex;
        }
        .item-home,
        .barra-van{
            margin-right: 5px;
            font-size: 1rem;
            color: #504c4c;
        }
    .section{
        display: flex;
        margin: 15px 0px 15px 0px;
        text-align: center;
    }
        .aside{
            background-color: #efefef;
            display: none;
        }
        .articles{
            background-color: #efefef;
            display: flex;
            flex-flow:row wrap;
            justify-content: center;
            transition: all 400ms ease;
        }
            .article{
                min-width: 250px;
                background-color: #fff;
                display: flex;
                flex-flow: column nowrap;
                margin: 0 .35rem 1rem;
                width: 90vw;
                height: 500px;
                border-radius: 4px;
                box-shadow: 0 3px 6px #0000000f;
            }
                .product-img{
                    border-bottom: none;
                    padding-top: 15px;
                    height: auto;
                    justify-items: center;
                    align-items: center;
                    margin-left: auto;
                     margin-right: auto;
                    flex: 2 1 100%;
                }
                    .product-img img{
                        display: block;
                        width: auto;
                        height: auto;
                        max-height: 350px;
                        padding: 0;
                    }
                        .beer1 .product-img img,
                        .beer6 .product-img img,
                        .beer8 .product-img img,
                        .beer9 .product-img img{
                            margin-top: -35px;
                            max-height: 450px;
                        }
                .description{
                    flex: 1 1 auto;
                    font-weight: 500;
                    display: block;
                    font-size: .77rem;
                    margin-top: 0;
                    padding-bottom: 30px;
                    color: #221e20cc;
                    text-transform: uppercase;
                }
                    .discount{
                        font-size: .81rem;
                        color: #999;
                        text-decoration:line-through;
                    }
                    .price{
                        font-size: larger;
                        padding: 5px 0px;
                        text-decoration: none;
                        font-weight: 400;
                    }
                    .class{
                        font-weight: 500;
                        display: block;
                        font-size: .77rem;
                        margin-top: 0;
                        color: #221e20cc;
                        text-transform: uppercase;
                    }
                    .info{
                        color: #41416c;
                        font-size: .65rem;
                        font-weight: 700;
                        margin-bottom: 5px;
                        line-height: .9rem;
                        }
    /* css footer */
    .footer{
        background: #2e2e2e;
        display: flex;
        flex-flow: column nowrap;
        height: auto;
        width: 100vw;
        align-items: center;
        text-align: center;
        padding: 20px;
        }
        .newsletter-box{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            padding: 5px;
            margin: 5px;
        }
            .newsletter-box div p{
                font-size: 22px;
                font-weight: 200;
                color: white;
                padding-bottom: 15px;
            }
            
        .footer-menu{
            padding-top: 10px;
            margin: 10px;
            display: flex;
            flex-flow: row nowrap;
            color: #fff;
            width: 100%;
            align-content: flex-start;
        }
            .social{
                color: #fff;
                display: flex;
                flex-flow: column nowrap;
                flex: 1 1 auto;
            }
                .container{
                    display: flex;
                    flex-flow: row nowrap;
                    padding: 0px
                }
            .h3{
                flex: 1 1 100%;
            }
                .faq-menu,
                .aboutus-menu,
                .empresas-menu{
                    display: flex;
                    flex-flow: column nowrap;
                    padding: 7px;
                    width: 100%;
                }
                    .faq-menu a,
                    .aboutus-menu a,
                    .empresas-menu a,
                    .social div a{
                        color: #fff;
                        padding-right: 10px;
                        padding-top: 7px;
                    }
                    .social div i{
                        font-size: 20px;
                        padding: 8px;
                    }
                    /* css footer */
.error404{
    font-size: 5em;
    text-align: center;
    margin: 50px;
}

    
/* # Tablet */
@media (min-width: 768px){
    /* css header */
    .burger-menu{
        display: none;
    }
    .logo a img{
        padding-left: 30px;
    }
    .dropdown{
        display: flex;
        flex-flow: row nowrap;
        justify-items:center;
        align-items:center;
    }
        .drop-importadas{
            padding: 4px;     
        }
        .drop-nacionales{
            padding: 4px; 
        }
        .ofertas{     
            padding: 4px; 
        }
    .search{
        display: flex;
        width: 80%;
        position: relative;
    }
    .search-icon{
        display: none;
    }
                .cart i,
                .faq i,
                .user i{
                    font-size: 2em;
                    color: black;
                }
    .faq{
        display: block;
    }
    .banner{
        height: 200px;
    }
        .banner img{
            height: 200px;
            width: 90vw;
        }
        /* css header */

    .item-home,
    .barra-van{
        font-size: 1.3rem;
    }
    .articles article{
        width: 45%;
        transition: all 400ms ease;
    }
        .beer1 .product-img img,
        .beer6 .product-img img,
        .beer8 .product-img img,
        .beer9 .product-img img{
            margin-top: -45px;
            margin-left: auto;
            margin-right: auto;
        }
}




/* # Desktop */
@media (min-width: 992px){
    /* css header */
    .off{
        padding: 4px;
        font-size: 16px;
        color: black;
    }
    .faq .fa-circle-question,
    .cart .fa-cart-shopping,
    .user .fa-user{
    font-size: 1rem;
    color: black;
}
    
        .cart,
        .faq,
        .user{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            font-size: 1em;

        }
        .user-menu a{
            font-size: -1em;
        }
        .search input{
            width: 150px;
        }
                
                
                /* css header */
    .banner{
        height: 250px;
    }
        .banner img{
            height: 250px;
            width: 100vw;
        }
    .item-home,
    .barra-van{
        font-size: 1.7rem;
    }
    .section{
        display: flex;
        flex-flow: row nowrap;
    }
    .articles article{
        width: 24%;
    }
    .aside{
        display: none;
        flex: 1 2 auto;
        width: 250px;
    }
            .beer1 .product-img img,
            .beer6 .product-img img,
            .beer8 .product-img img,
            .beer9 .product-img img{
                margin-top: -55px;
            }
    /* css footer */
    footer .footer-menu{
        display: flex;
        justify-content: space-evenly;
    }
    .off2{
        padding: 4px;
        font-size: 16px;
        color: white;
    }
    /* css footer */
}