*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #f0f0f0;
}
    /* scrollbar */
    ::-webkit-scrollbar{
        width: 20px;
    }
    ::-webkit-scrollbar-track{
        background-color: #fff;
    }
    ::-webkit-scrollbar-thumb{
        background-color: #d6cece;
        border-radius: 20px;
    }
    /* HEADER */
    header{
        background-color: #ebebeb;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: auto;
        /* MARCOS 200522 */
        position: fixed;
        z-index: 100;
        top: 0;
        transition-duration: 1s;
        padding: 10px;
    }
    .hydrated{
        text-align: center;
    }
    .img-user{
        border-radius: 100%;
        width: 1.2em;
        height: 1.2em;
        order: 2;
    }
    /* MARCOS HEADER SCROLL 220522*/
    header.abajo{
        width: 100%;
        flex-wrap: nowrap;
    }
    header.abajo .logo{
        order: 2;
    }
    header.abajo .logo a img{
        max-height: 80px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    header.abajo .user-menu div form{
        display: none;
        width: 0%;
        order: 5;
    }
    header.abajo .user-menu{
        width: 100%;
        margin: 0;
        order: 2;
        justify-content: end;
    }
    header.abajo .menu-usuario div span{
        display: none;
    }
    header.abajo .menu-y-dropdown{
        width: 100%;
        order: 0;
    }
    header.abajo .dropdown{
        width: 100%;
        justify-content: flex-start;
    }
    header.abajo .menu-usuario{
        font-size: 1.5em;
    }
    header.abajo .menu-usuario .faq{
        font-size: 1em;
    }
    header.abajo .burger-menu{
        font-size: 2em;
    }

    header.abajo .logo-titulo{
        font-size: 1.7rem
    }
    /*scrollbar marcos 220522*/

        .burger-menu {
            text-align: left;
            font-size: 20px;
            order: 0;
            width: 100%;
            line-height: 0px;
            font-size: 2.5rem;
        }
            .burger-menu i {
                color: black;
                padding: 10px;
                border-radius: 5px;
                font-size: 2em;
            }
        .logo{
            display: none;
        }
        .logo-titulo{
            font-family: 'Alfa Slab One', regular;
            font-weight: 500;
            margin: auto 0; 
        }
            .logo a img{
                width: auto;
                max-height: 100px;
                height: auto;
                margin: 15px 0px 5px -15px;
                filter: contrast(1.5);
            }
        .menu-y-dropdown{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            display: none;
            /* MARCOS 200522
            position: absolute; 
            bottom: -10;*/

        }
            .dropdown{
                display: none;
            }
                .drop-nacionales,
                .drop-importadas {
                    position: relative;
                    display: inline-block;
                    padding: 0px 10px;
                    padding-bottom: 15px;
                }
                    .dropbtn {
                        background-color: #ebebeb;
                        color: black;
                        font-size: 16px;
                        border: none;
                    }
                        .dropdown-content {
                            display: none;
                            position: absolute;
                            background-color: #f1f1f1;
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;
                        }
                        .dropdown-content a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                        }
                            .dropdown-content a:hover {
                                background-color: #ddd;
                            }
                            .drop-nacionales:hover .dropdown-content,
                            .drop-importadas:hover .dropdown-content {
                                display: block;
                            }
                            .drop-nacionales:hover .dropbtn,
                            .drop-importadas:hover .dropbtn {
                                background-color: #696969;
                            } 
                .ofertas{
                    background-color: #ebebeb;
                    color: black;
                    font-size: 16px;
                    border: none;
                    padding: 0px 10px;
                    padding-bottom: 15px;
                }
                    .ofertas a{
                        color: black;
                        padding: 1px 6px;
                    }
                .nav-effect{
                    display: inline-block;
                    text-decoration: none;
                    position: relative;
                }
                    .nav-effect::after{
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 2px;
                        background-color:#2e2e2e;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform .5s;
                    }
                        .nav-effect:hover::after{
                            transform: scaleX(1);
                            transform-origin: left;
                        }
            .user-menu{
                align-self: center;
                display: flex;
                flex-flow: row wrap;
                margin: 5px;
                margin-right: 0px;
                align-items: center;
                width: 100%;
            }  
                .search{
                display: none;                
                flex: 7 1 auto;
                width: 80px;
                margin: 10px;
                }
                
                    .search input{
                        width: 80%;
                        margin-right: 0px;
                    }
                    /* .search form input{
                        height: 30px;
                    } */
                    .fa-search{
                        border: 1px solid black;
                        border-radius: 5px;
                        border: none;
                    }
                    .fas.fa-search{
                        font-size: 2rem;
                        color: black;
                        border: none;
                        padding-right: 5px;
                    }
                    .user-menu div form{
                        width: 100%;
                        text-align: start;
                        display: none;
                    }
                
                .menu-usuario{
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                    align-items: center;
                    font-size: 2rem;
                }
                .menu-usuario a{
                    color: black;
                }
                    .menu-usuario div span{
                        display: none;
                        color: black;
                    }
                        .menu-usuario .fa-circle-question,
                        .fa-question-circle{
                            display: none;
                        }
                .user{
                    padding: 5px;
                    flex: none;
                    margin: 0%;
                }     
                .cart{
                    /* padding: 5px; */
                    flex: none;
                    margin: 0%;
                    display: none;
                }
                .magnifying{
                    display: none;
                }
                .off{
                    font-size: 1rem;
                    color: #fff;
                }
                    .cart i,
                    .faq i,
                    .user i{
                        color: black;
                    }
                    /* .faq span{
                        padding-left: 5px;
                    } */
                    /* .cart span{
                        padding-left: 2px;
                    } */
            .faq ,
            .cart .fa-cart-shopping,
            .user .fa-user{
                font-size: 2rem;
            }
            .faq{
                display: none;
            }

            /* BANNER */
                .nuevo-banner{  
                    display: none;
                }

                /* RUTAS > PRODUCTOS */
                .barra-navegacion{
                    padding-left: 15px;
                    padding-top: 10px;
                }
                    .lista-producto{
                        list-style: none;
                        padding: 5px;
                        display: flex;
                    }
                    .item-home,
                    .barra-van{
                        margin-right: 5px;
                        font-size: 1rem;
                        color: #504c4c;
                    }
                        .item-detail span{
                            font-size: 2rem;
                        }
                    .gap-xxs{
                        list-style: none;
                        padding: 5px;
                        display: flex;
                    }

                    /* DROPDOWN USER */
                    .dropbtnB{
                        display: block;
                        background-color: #ebebeb;
                        color: black;
                        font-size: 1.2rem;
                        border: none;
                        width: 150px;
                        cursor: pointer;;
                    }
                        .dropbtnB i{
                            font-size: 1rem;
                            padding-left: 5px;
                        }
                    .dropbtnB:hover, 
                    .dropbtnB:focus{
                        background-color: #bbb3b3;
                    }
                    .dropdownB{
                        display: none;
                    }
                    .dropdown-contentB{
                        font-size: 1.3rem;
                        display: none;
                        position: absolute;
                        background-color: #ebebeb;
                        min-width: 100px;
                        width: auto;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                    }
                    .dropdown-contentB a{
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                    }
                    .dropdown-contentB a:hover {
                        background-color: #ddd
                    }
                    .show{
                        display:block;
                    }
                    .dropdownC{
                        position: relative;
                        display: flex;
                        align-items: center;
                    }


                    /* INDEX */
                    .section{
                        display: flex;
                        margin: 15px 0px 15px 0px;
                        text-align: center;
                    }
                        .aside{
                            background-color: #efefef;
                            display: none;
                        }
                        .articles{
                            display: flex;
                            flex-flow:row wrap;
                            justify-content: center;
                            transition: all 400ms ease;
                        }
                            .article{
                                min-width: 250px;
                                background-color: #fff;
                                display: flex;
                                flex-flow: column nowrap;
                                margin: 0 .5rem 1.2rem;
                                width: 90vw;
                                height: 500px;
                                border-radius: 25px;
                                box-shadow: 3px 6px 6px 3px #0000000f;
                            }
                            .product-img{
                                border-bottom: none;
                                padding-top: 15px;
                                height: auto;
                                justify-items: center;
                                align-items: center;
                                margin-left: auto;
                                margin-right: auto;
                                flex: 2 1 100%;
                            }
                                .product-img img{
                                    width: auto;
                                    height: auto;
                                    max-height: 350px;
                                    padding: 0;
                                }
                                .description{
                                    flex: 1 1 auto;
                                    font-weight: 500;
                                    display: block;
                                    font-size: .77rem;
                                    margin-top: 0;
                                    padding-bottom: 30px;
                                    color: #221e20cc;
                                    text-transform: uppercase;
                                }
                                    .discount{
                                        font-size: .81rem;
                                        color: #999;
                                        text-decoration:line-through;
                                    }
                                    .price{
                                        font-size: larger;
                                        padding: 5px 0px;
                                        text-decoration: none;
                                        font-weight: 400;
                                    }
                                    .class{
                                        font-weight: 500;
                                        display: block;
                                        font-size: .77rem;
                                        margin-top: 0;
                                        color: #221e20cc;
                                        text-transform: uppercase;
                                    }
                                    .info{
                                        color: #41416c;
                                        font-size: .65rem;
                                        font-weight: 700;
                                        margin-bottom: 5px;
                                        line-height: .9rem;
                                        }          
                                        
                                        
                                    .preferred-section{
                                        display: flex;
                                    }

                        /* RESULTS */
                        .title-result{
                            color: rgb(255, 97, 70);
                        }

                        /* PROFILE */
                        .profile{
                            padding: 250px;
                        }

                        /* LOGIN */
                        main,
                        input,
                        div.login input,
                        .division{
                            font-size: 20px;
                            margin: 10px;
                        }
                        main{
                            margin: 0px;
                            margin-top: 120px;
                        }
                        .conjunto-login{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            /**/
                            /* background-image: url("/img/sacos_de_lupulo-300x158@2x.png"); */
                            background-size: cover;
                        }
                        .conjunto-login form{
                            width: 80%;
                            margin-top: 124.8px;
                        }

                        .col{
                            margin: 6px auto 0 auto;
                            text-align: center;
                        }
                           
                        col input,
                        .btn{
                            width: 100%;
                            padding: 12px;
                            border: none;
                            border-radius: 4px;
                            margin: 5px 0;
                            opacity: 0.85;
                            display: inline-block;
                            font-size: 17px;
                            line-height: 20px;
                            text-decoration: none;   
                        }
                        col input:hover,
                        .btn:hover {
                            opacity: 1;
                        }
                        .fb{
                            width: auto;
                            background-color: #3B5998;
                            color: white;
                        }
                        .google {
                            width: auto;
                            background-color: #dd4b39;
                            color: white;
                        }

                        /*test*/

                        .login-box {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 400px;
                            padding: 40px;
                            transform: translate(-50%, -50%);
                            background: rgba(0,0,0,.5);
                            box-shadow: 0 15px 25px rgba(0,0,0,.6);
                            border-radius: 10px;
                          }
                          .login-box h2{
                            margin: 0 0 30px;
                            padding: 0;
                            color: #fff;
                            text-align: center;
                          }
                          .login-box .recover-password{
                            text-align: center;
                            color: #fff;
                          }

                        .login-box .user-box {
                                position: relative;
                            }   
                            .login-box .user-box input {
                                width: 100%;
                                padding: 10px 0;
                                font-size: 16px;
                                color: rgba(0,0,0,.5);
                                margin-bottom: 30px;
                                border: none;
                                border-bottom: 1px solid #fff;
                                outline: none;
                                background: transparent;
                            }
                            .login-box .user-box label {
                                position: absolute;
                                top:0;
                                left: 0;
                                padding: 10px 0;
                                font-size: 16px;
                                color: #fff;
                                pointer-events: none;
                                transition: .5s;
                            }
                            
                            .login-box .user-box input:focus ~ label, /* efect label que sube */
                            .login-box .user-box input:valid ~ label {
                                top: -20px;
                                left: 0;
                                color: rgb(100, 211, 100);
                                font-size: 14px;
                            }
                            
                            .login-box form a { /* boton login verde */
                                position: relative;
                                display: flex;
                                padding: 10px 20px;
                                background-color: rgb(100, 211, 100);
                                color: #FFF;
                                width: 150px;
                                border-radius: 10px;
                                font-size: 16px;
                                text-decoration: none;
                                text-transform: uppercase;
                                overflow: hidden;
                                transition: .5s;
                                margin-top: 40px;
                                letter-spacing: 4px;
                                justify-content: center;
                                margin-left: auto;
                                margin-right: auto;
                            }

                        .division{
                            border-bottom: solid 3px black;
                            display: flex;
                            width: 30%;
                            padding-top: 6px;
                            margin: auto;
                        }
                        
                        .remember-user{
                            font-size: 15px;
                        }
                        .recover-password{
                            font-size: 15px;
                            color: blue;
                        }
                        .check-in{
                            font-size: 17px;
                        }
                        .button input{
                            background-color: rgb(100, 211, 100);
                            color: #FFF;
                            border: none;
                            width: 50%;
                            border-radius: 10px;
                            font-size: 1rem;
                        }
                        .login{
                            text-align: center;
                        }
                        .user-email{
                            padding-top: 15px;
                        }

                        /* REGISTER */
                        label, p{
                            font-size: 17px;
                        }
                        .register{
                            text-align: center;  
                            padding: 10px;
                            background-color: white;
                            width: 50%;
                            border-radius: 20px;
                            margin: auto;
                            margin-top: 155px;
                            margin-bottom: 30px;
                        }
                       
                        .button-register input{
                            background-color: purple;
                            color: #FFF;
                            border: none;
                            padding: 5px;
                            border-radius: 6px;
                        }
                        .checkboxes{
                            display: flex;
                            flex-flow: column nowrap;
                        }
                        .checkboxes .underage{
                            margin-left: -54px;
                        }
                        .login-link:hover,
                        .register-link:hover{
                            border-bottom: solid 1px rgb(54, 50, 50);
                        }
                        .user-name{
                            padding-top: 15px;
                        }
                        .conjunto-register{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            /* background-image: url("/img/sacos_de_lupulo-300x158@2x.png"); */
                            background-size: cover;
                        }
                        .conjunto-register form{
                            width: 80%;
                        }
                    /* PRODUCT CART */
                    hr{
                        height: 5px;
                        border-radius: 2px;
                        background-color: gray;
                    }
                    .container1{
                        max-width: 80%;
                        margin: 0 auto;
                        padding-top: 10px;
                    }
                    .container1 > h1{
                        padding: 20px 0;
                    }
                    .cart1{
                        display: flex;
                        flex-flow: column wrap;
                        margin: 30px;
                    }
                    .products{
                        flex: 0.75;
                        background-color: white;
                        border-radius: 20px;
                    }
                    .product{
                        display: flex;
                        width: 100%;
                        height: 200px;
                        overflow: hidden;
                        margin-bottom: 20px;
                        border: 2px solid transparent;
                    }
                    .product:hover{
                        border: none;
                        /* box-shadow: 2px 2px 4px rgba(0,0,0,0.2); */
                        transform: scale(1.01);
                        filter: saturate(150%);
                    }
                    .product > img{
                        width: 300px;
                        height: 200px;
                        object-fit: cover;
                    }
                    .product > img:hover{
                        transform: scale(1.04);
                        filter: saturate(150%);
                    }
                    .product-info{
                        padding: 20px;
                        width: 100%;
                        position: relative;
                        line-height: 0;
                    }
                    .product-name, .product-price, .product-offer{
                        margin-bottom: 20px;
                    }
                    .product-name{
                        font-weight: 500;
                    }
                    .product-price, .product-offer{
                        font-weight: initial;
                    }
                    .product-remove{
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        padding: 5px 15px;
                        background-color: red;
                        color: white;
                        cursor: pointer;
                        border-radius: 10px;
                        width: auto;
                        min-width: 120px;
                        font-size: 1rem;
                        text-align: center;
                        font-weight: lighter;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .product-remove:hover{
                        background-color: white;
                        color: red;
                        font-weight: 400;
                        border: 1px solid red;
                    }
                    .product-quantity > input{
                        width: 40px;
                        padding: 5px;
                        text-align: center;
                    }
                    .cart-total{
                        flex: 0.25;                       
                        padding: 20px;
                        height: 240px;
                        border-radius: 20px;
                        background-color: white;
                        margin-top: 20px;
                    }
                    .cart-total p{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 30px;
                        font-size: 20px;
                    }
                    .cart-total a{
                        display: block;
                        text-align: center;
                        background-color: rgb(100, 211, 100);
                        color: white;
                        text-decoration: none;
                        border-radius: 10px;
                        font-size: 1em;
                        width: auto;
                        min-width: 120px;
                        margin: auto;
                    }
                    .cart-total a:hover{
                        background-color: rgb(11, 174, 11);
                    }
                    .remove{
                        display: none;
                    }

            /* PRODUCT DETAIL */
            .main{
                max-width: 100vw;
                height: auto;
                padding-top: 0px;
                border-radius: 40px;
                margin-top: 70px;
                padding-bottom: 20px;
                padding-top: 0px;
            }
            h2{
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: 1.2rem;
                font-weight: 500;
            }
            .imagen-producto img {
                width: auto;
                max-height: 315px;
            }
            .imagen-producto{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                overflow:hidden;
                margin: auto;
            }
                .imagen-producto:hover{
                    border: none;
                    /* box-shadow: 2px 2px 4px rgba(0,0,0,0.2); */
                    transform: scale(1.01);
                    filter: saturate(150%);
                }
            .titulo-del-producto{
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2;
                text-align: left;
            }
            .precio-anterior{
                font-size: 0.7rem;
                color: #999;
                text-decoration: line-through;
                width: 100%;
                text-align: left;
            }
            .precio-actual{
                font-size: 1.75rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-right: 10px;
                width: 50%;
            }
            .descuento{
                margin-left: 5px;
                font-size: 0.75rem;
                color: #11d111;
                font-weight: 700;
            }
            .disponibles{
                font-size: 0.8rem;
                width: 100%;
                border-bottom: 1px solid #ccd3da;
                padding-bottom: 10px;
                color: #999;
                text-align: left;
            }
            .texto-descripcion{
                display: flex;
                flex-direction: row;
                height: 100%;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 20px;
                width: 100%;
                align-content: center;
                line-height: 1.7rem;
            }
            .cuerpo-descripcion{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                height: 50%;
                width: 80%;
                border-radius: 50px;
                background-color: white;
                margin: auto;
                padding-bottom: 20px;
            }   
            
            .descripcion-del-producto{
                text-align: justify;
                border-bottom: 1px solid #ccd3da;
            }
            p{
            font-size: 1rem;
            line-height: 1.5;
            }
            .caja-descripcion{
                width: 100%;
            }          
            .boton-up{
                position: fixed;
                width: 35px;
                height: 35px;
                bottom: 30px;
                right: 30px;
                background: transparent;
                color: rgb(105, 101, 101);
                border-radius: 50px;
                font-size: 20px;
                box-shadow:  0px 0px 10px 0px rgba(0,0,0,0,3);
                z-index: 100;
                line-height: 1px;
            }
            .buy-now-button {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                border-radius: 10px;
                border: none;
                width: 150px;
                color: white;
                font-weight: 580;
                background-color: #3483fa ;
              }
                .buy-now-button:hover{
                    box-shadow: 0px 0px 10px 0px rgb(100, 100, 100);
                }
            .botones-changes{
                font-size: 1rem;
                display: flex;
                justify-content:flex-end;
                text-align: center;
                padding-right: 40px;
                width: 100%;

              }
              .action-button {
                border: none;
                border-radius: 10px;
                font-size: 1em;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 120px;
              }
              .action-button.edit {
                background-color: chocolate;
                border-radius: 10px;
                margin-right: 6px ;
                font-size: 1rem;
                width: 120px;
              }
              .action-button.delete {
                background-color: rgb(248, 69, 37);
                border-radius: 10px;
                margin-left: 6px ;
                font-size: 1rem;
              }

        /* PRODUCT CREATE */
        .modify{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 30px;   
        }
        .modify-2{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 30px;
        }
        .modify h1{
            width: 100%;
            text-align: center;
        }
        .modify textarea{
            margin: 5px;
            width: 100%;
            max-height: 90px;
            font-size: 20px;
        }
        .modify-2 input{
            margin: 5px;
            width: 100%;
        }
        .modify-2 div,
        .modify-2 form{
             padding: 5px 0px;
             width: 90%;
             margin: auto;
        }
        .size-product{
            width: 100%;
            margin: 5px;
            text-align: left;
        }
        .modify-2 .size-product label{
            margin: 5px;
        }
        .button-modify{
            display: flex;
            justify-content: center;
        }
            .button-modify input{
                background-color: rgb(100, 211, 100);
                color: #FFF;
                border: none;
                padding: 5px;
                border-radius: 4px;
            }
            .button input:hover{
                background-color: rgb(11, 174, 11);
            }
            .button-modify input:hover{
                background-color: rgb(11, 174, 11);
            }
            

         /* PRODUCT MODIFY */
         .modify{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 30px;   
        }
        .modify-2{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 30px;
        }
        .modify h1{
            width: 100%;
            text-align: center;
        }
        .modify textarea{
            margin: 5px;
            width: 100%;
            font-size: 20px;
        }
        .modify-2 input{
            margin: 5px;
        }

        /* FOOTER */            
        .footer{
            background: #2e2e2e;
            display: flex;
            flex-flow: column nowrap;
            height: auto;
            align-items: center;
        }
        .newsletter-box {
            width: 60%;
        }
            footer .newsletter-box div input{
                width: auto;
                min-width: 80px;
            }
            footer .newsletter-box p{
                font-size: 1.2rem;
                text-align: center;
                color: #ccc5b9;
                margin-bottom: 5px;
            } 
        .footer-menu{
            margin: 10px;
            display: flex;
            flex-flow: column nowrap;
            color: #fff;
            width: 100%;
            text-align: center;
        }
                    .container {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        align-items: center;
                        text-align: center;
                        padding-bottom: 15px;
                    } 
                .h3{
                    flex: 1 1 100%;          
                }
                    .faq-menu,
                    .aboutus-menu,
                    .empresas-menu,
                    .social{
                        display: flex;
                        flex-flow: column nowrap;
                        width: 100%;
                    }
                        .faq-menu a,
                        .aboutus-menu a,
                        .empresas-menu a,
                        .social div a{
                            font-weight: 300;
                            color: #fff;
                        }
                        .social div i{
                            padding-right: 5px;
                        }

@keyframes banner {
    0%, 30%{
        background-image: url("../img/banner.png");
        opacity: 1;
    }
    31%, 34%{
        opacity: 0.7;
    }
    35%, 65%{
        background-image: url("../img/banner1.png");
        opacity: 1;
    }
    66%, 69%{
        opacity: 0.7;
    }
    70%, 100%{
        opacity: 1;
        background-image: url("../img/banner2.png");
    }
}


@media all and (min-width: 768px){
        /* header */
    header{
        flex-wrap: wrap;
    }
    main{
        margin-top: 160px;
    }
    .main{
        margin-top: 200px;
    }
    .user-menu div form{
        display: block;
    }
    .menu-usuario{
        width: 30%;
        justify-content: space-evenly;
    }
        .menu-usuario div span{
            display: block;
        }
        .menu-usuario .fas.fa-search{
            display: none;
        }
        .menu-usuario .fa-circle-question,
        .fa-question-circle{
            display: block;
        }
    
    .user-menu{
        width: 90vw;
        align-items: center;
    }
    .dropdown{
        display: flex;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: center ;
        align-items: center;
    }
    .menu-y-dropdown{
        order: 3;
        display: block;
        /* MARCOS 200522  */
        /* position: relative;
        bottom: 0;
        background-color: #ebebeb;*/
    }
    /*BARRA FIJA MARCOS 190522*/
    /* .nav-menu-y-drop {
        background-color: #000;
            padding: 1px;
            color: whitesmoke;
            position: relative;

            width: 100%;
            top: 0;
            z-index: 10000;
            transition: 0.7s;
        } */
    .user{
        padding: 0%;
        margin: 0%;
        flex: none;
    }     
    .cart{
        display: flex;
        padding: 0%;
        flex: none;
    }
    .logo{
        width: 10%;
        max-height: 160px;
        text-align: center;
        display:flex;
    }
        .logo a img{
            width: auto;
            max-height: 100px;
            height: auto;
            margin: 15px 0px 5px -15px;
            filter: contrast(1.5);
        }

    .logo-titulo{
        display: none;
    }
    .burger-menu {
        display: none;
    }
    .faq{
        display: block;
        font-size: 2rem;
    }
    .search{
        display: block;
    }
    .nuevo-banner{
        width: 100%;
        height: 240px;
        animation: banner 9s infinite linear alternate;
        background-size: 100% 100%;
        display: flex;
        position: relative;
        bottom: -165.8px;
    }
    .dropdownB{
        position: relative;
        display: flex;
        align-items: center;
    }
    .dropdownC{
        display: none;
    }
    /* index */
    .aside{
        display: flex;
    }
    .item-home,
    .barra-van{
        font-size: 1.3rem;
    } 
    .articles article{
        width: 45vw;
        transition: all 400ms ease;
    }

    /* product detail */
    .imagen-producto{
        width: 50%;
    }
        .imagen-producto img{
            width: auto;
            max-height: 392px;
        }
    .caja-descripcion{
        display: flex;
        flex-direction: row;
        margin: 5px;
        padding: 10px;
    }
    /*LOGIN*/
    .conjunto-login form{
        margin-top: 170px;
    }
    /*REGISTER*/
    .register{
        margin-top: 200px;
    }
    /* product cart */
    .remove{
        display: block;
    }
    .product{
        height: auto;
    }
    .product > img{
        height: 100%;
        width: 200px;
        padding: 20px;
    }
    .product-name, .product-price, .product-offer{
        margin-bottom: 10px;
    }
    .product-remove{
        max-width: 200px;
    }
    .modify-2 div,
    .modify-2 form{
        width: 100%;
        margin: auto;
        }

    /* footer */
    .footer-menu{
        flex-flow: row nowrap;
        justify-content: center;
        align-items: baseline;
    }
    footer .newsletter-box div{
        text-align: center;
    }
    footer .newsletter-box div input{
        width: 40vw;
    }

}
@media all and (min-width: 992){
    /* header */
    .faq{
        margin: 0px;
    }
    .user{
        margin: 0px;
    }
    .cart{
        margin: 0px;
    }
    .menu-usuario{
        width: 10%;
    }
    /* index */
    .item-home,
    .barra-van{
        font-size: 1rem;
    }
    .section{
        display: flex;
        flex-flow: row nowrap;
    }
    .preferred-section{
        display: flex;
        flex-flow: row nowrap;
    }
     /* product cart */
    .imagen-producto{
        width: 100%;
        max-height: 392px;
    }
    .cart1{
        flex-direction: column;
    }
    .cart-total{
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media all and (min-width: 1279px){
    /* header */
    .user-menu{
        width: 79%;
    }
    .nuevo-banner{
        height: 300px;
    }
   
    /* index */
    .articles article{
        width: 22%;
        transition: all 300ms ease;
    }
    .barra-van a{
        font-size: 1.3rem;
    }
    
    /* product detail */
    .imagen-producto img {
        max-height: 370px;
    }  

    /* product cart */
    .container1{
        max-width: 60%;
    }
}