<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Error'}) %>
<body>
    <%- include('./partials/header') %>
    <main>
        <br>
    <h1 class="error404"> Oh, no! El tan temido error 404 u.u
        Este recurso no se encuentra en nuestros servidores.
            Disculpe las molestias ocasionadas :( </h1>

    <a href="/">Click aquí para volver al inicio</a>
    </main>
</body>
</html>