<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Error'}) %>
<body>
    <%- include('./partials/header') %>
    <main>
<br>
    <h1 class="error404"> Oh, no! El tan temido error 404 u.u </h1>
<br>
        <h2> Este recurso no se encuentra en nuestros servidores.
            Disculpe las molestias ocasionadas :( </h2>
            <br>
            <br>
            <img src="https://c.tenor.com/lx2WSGRk8bcAAAAC/pulp-fiction-john-travolta.gif" alt="travolta">
            <br>
                <h1><a href="/">Click aquí para volver al inicio</a></h1>
    </main>
</body>
</html>