<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Error'}) %>
<body>
    <%- include('./partials/header') %>
    <div class="banner">
        <img src="img/banner.png" alt="Banner">
    </div>
    <main>
    <p class="error404"> ERROR 404</p>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>