<footer class="footer">
    <div class="newsletter-box">
        <div><p>Sumate a nuestro newsletter</p></div>
        <div>
            <form action="#">
                <input type="text" placeholder="Ingresa tu email" name="search"> 
            </form>
        </div>
    </div>
    <nav class="footer-menu">
        <div class="faq-menu">
            <h3>PREGUNTAS FRECUENTES</h3>
            <a href="#">COMO COMPRAR</a>
            <a href="#">FORMAS DE PAGO</a>
            <a href="#">TIEMPOS Y COSTOS DE ENVÍO</a>
            <a href="#">CONTACTANOS</a>
            <a href="#">BOTÓN DE ARREPENTIMIENTO</a>
        </div>
        <div class="aboutus-menu">
            <h3>NOSOTROS</h3>
            <a href="#">NUESTRA HISTORIA</a>
            <a href="#">COMENTARIOS DE CLIENTES</a>
            <a href="#">PRENSA</a>
            <a href="#">TERMINOS Y CONDICIONES</a>
            <a href="#">POLITICA DE PRIVACIDAD</a>
        </div>
        <div class="empresas-menu">
            <h3>EMPRESAS</h3>
            <a href="#">NUESTRA HISTORIA</a>
            <a href="#">REGALOS<br>EMPRESARIALES</a>
        </div>
        <div class="social">
            <div><h3>SEGUINOS</h3></div>
            <div class="container">
                <div><a href="https://www.facebook.com/birrashop"><i class="fa fa-facebook-square" aria-hidden="true"></i><span class="off2">Facebook</span></a></div>
                <div><a href="https://www.twitter.com/birrashop"><i class="fa fa-twitter-square" aria-hidden="true"></i><span class="off2">Twitter</span></a></div>
                <div><a href="tel:+5492612612261"><i class="fa-brands fa-whatsapp"></i><span class="off2">Whatsapp</span></a></div>
            </div> 
        </div>
    </nav>
</footer>