<header onload="listener()">
    <script>
        window.addEventListener("load", function() {

               const magnif = document.getElementById("magnif-button");
               const search = document.getElementById("search")
               const logo2 = document.getElementById("logo2")

                magnif.addEventListener("click", () => {
                        magnif.style.display= "none";
                        search.style.display= "flex";
                        logo2.style.display="none";
                   })
               });
           </script>

    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <% if (locals.isLogged) { %>
        <ul id="menu">
          <a href="/"><li>Home</li></a>
          <a href="/products"><li>Products</li></a>
          <a href="/products/cart"><li>Carrito</li></a>
        </ul>
        <% } else { %>
        <ul id="menu">
            <a href="/"><li>Home</li></a>
            <a href="/products"><li>Products</li></a>
            <a href="/user/register"><li>Register</li></a>
            <a href="/user/login"><li>Login</li></a>
        </ul>
            <% } %>
        <% if (locals.isAdmin) { %>
            <ul id="menu">
                <a href="/"><li>Home</li></a>
                <a href="/products"><li>Products</li></a>
                <a href="/products/cart"><li>Carrito</li></a>
                <a href="/panel"><li>Admin</li></a>
            </ul>
            <% } %>
      </div>
    <div class="div-logo">
        <a href="/"><img src="/img/logo.webp" href="/index" alt="Logo de MercadoLiebre" class="logo"></img></a>
        <div class="logo2" id="logo2">
            <a href="/"><h1 class="logo-titulo">BIRRASHOP</h1></a>
    </div>
    </div>
    <div class="menu-y-dropdown">
        <div class="dropdown">
            <div class="drop-importadas">
                <button class="dropbtn">Importadas</button>
                <div class="dropdown-content">
                <a href="/products/detail/5">Dos Dingos Aussie</a>
                <a href="/products/detail/6">Dos Dingos Refreshing</a>
                <a href="/products/detail/8">Me Echo La Burra IPA</a>
                </div>
            </div> 
            <div class="drop-nacionales">
                <button class="dropbtn">Nacionales</button>
                <div class="dropdown-content">
                <a href="/products/detail/1">Andes Origen IPA</a>
                <a href="/products/detail/12">Patagonia 24.7 IPA</a>
                <a href="/products/detail/7">Jarva IPA</a>
                </div>
            </div>
            <div class="ofertas">
                <a href="/products" class="nav-effect">All Products</a> 
            </div>
            <% if (locals.isAdmin)  { %>
            <div class="ofertas">
                <a href="/panel" class="nav-effect">Admin</a> 
            </div>
            <% } %>
        </div>
    </div>
    <div class="user-menu">
        <div class="search" id="search">
            <form action="/products/search" method="GET">
                <input type="search" placeholder="  Buscar productos" name="keywords">
                    <button type="submit" class="cursor-boton" id="botonBuscar" ><ion-icon name="search-outline"></ion-icon></button>                 
            </form>
        </div>
        <div class="menu-usuario">
            <div class="magnifying" id="magnif-button">
                <a href="#" class="magnif-icon" ><ion-icon name="search-outline"></ion-icon></a>
            </div>
            <div class="cart">
                <a href="/products/cart"><ion-icon name="cart-outline"></ion-icon><span class="off">Carrito</span></a>
<!--  íconos --><script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
            </div>
            <% if (locals.isLogged) { %>
                <div class="dropdownB" >
                    <img src="/img/users/<%= locals.userLogged.image %>" width="40" style="border-radius: 100%;" class="img-user">
                    <button onclick="myFunction()" class="dropbtnB">Hola <%= locals.userLogged.first_name %>  <i class="fa-solid fa-angle-down"></i></button>
                    <div id="myDropdown" class="dropdown-contentB">
                        <a href="/user/profile">My Profile</a>
                        <a href="/user/logout">Logout</a>
                    </div>
                </div>
                <div id="user" >
                    <input type="checkbox" />
                    <img src="/img/users/<%= locals.userLogged.image %>" width="40" style="border-radius: 100%;" class="img-user"> 
                        <ul id="user-lista">
                            <a href="/user/profile"><li>Mi perfil</li></a>
                            <a href="/user/logout"><li>Logout</li></a>
                        </ul>
                </div>
            <% } else { %>
            <div class="user">
                <a href="/user/login"><ion-icon name="people-outline"></ion-icon><span class="off">Login</span></a> 
            </div>
            <% } %>
        </div>
    </div>
</header>