<header>
    <div class="burger-menu">
        <ion-icon name="menu-outline"></ion-icon>
    </div>
    <div class="logo">
        <a href="/"><img src="/img/logo.webp" href="/index" alt="Logo de MercadoLiebre" class="logo"></img></a>
    </div>
    <div class="logo2">
        <h1 class="logo-titulo">BIRRASHOP</h1>
    </div>
    <div class="menu-y-dropdown">
        <div class="dropdown">
            <div class="drop-importadas">
                <button class="dropbtn">Importadas</button>
                <div class="dropdown-content">
                <a href="/products/detail/5">Dos Dingos Aussie</a>
                <a href="/products/detail/6">Dos Dingos Refreshing</a>
                <a href="/products/detail/8">Me Echo La Burra IPA</a>
                </div>
            </div> 
            <div class="drop-nacionales">
                <button class="dropbtn">Nacionales</button>
                <div class="dropdown-content">
                <a href="/products/detail/1">Andes Origen IPA</a>
                <a href="/products/detail/12">Patagonia 24.7 IPA</a>
                <a href="/products/detail/7">Jarva IPA</a>
                </div>
            </div>
            <div class="ofertas">
                <a href="/products" class="nav-effect">All Products</a> 
            </div>
            <div class="ofertas">
                <a href="/products/create" class="nav-effect">Crear</a> 
            </div>
        </div>
    </div>
    <div class="user-menu">
        <div class="search">
            <form action="/products/search" method="GET">
                <input type="search" placeholder="Buscar productos" name="keywords">
                    <button type="submit" class="cursor-boton" style="font-size: 20px"><ion-icon name="search-outline"></ion-icon></button>                 
            </form>
        </div>
        <div class="menu-usuario">
            <div class="faq">
                <a href="#"><ion-icon name="help-circle-outline"></ion-icon><span class="off">FAQ</span></a>
            </div>
            <div class="magnifying">
                <a href="#"><ion-icon name="search-outline"></ion-icon></a>
            </div>
            <div class="cart">
                <a href="/products/cart"><ion-icon name="cart-outline"></ion-icon><span class="off">Carrito</span></a>
            <!--  íconos --><script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
            </div>
            <% if (locals.isLogged) { %>
                <div class="dropdownB" >
                    <img src="/img/users/<%= locals.userLogged.img %>" width="40" style="border-radius: 100%;" class="img-user">
                    <button onclick="myFunction()" class="dropbtnB">Hola <%= locals.userLogged.firstName %>  <i class="fa-solid fa-angle-down"></i></button>
                    <div id="myDropdown" class="dropdown-contentB">
                        <a href="/user/profile">My Profile</a>
                        <a href="/user/logout">Logout</a>
                    </div>
                </div>
                <div class="dropdownC" >
                    <img src="/img/users/<%= locals.userLogged.img %>" onclick="myFunction()" width="40" style="border-radius: 100%;" class="img-user">
                    <div id="myDropdown" class="dropdown-contentB">
                        <a href="/user/profile">My Profile</a>
                        <a href="/user/logout">Logout</a>
                    </div>
                </div>
            <% } else { %>
            <div class="user">
                <a href="/user/login"><ion-icon name="people-outline"></ion-icon><span class="off">Login</span></a> 
            </div>
            <% } %>
        </div>
    </div>
</header>