<header>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    <div class="logo">
        <a href="/"><img src="/img/logo.webp" href="/index" alt="Logo de MercadoLiebre" class="logo"></img></a>
    </div>
    <div class="menu-y-dropdown">
        <div class="dropdown">
            <div class="drop-importadas">
                <button class="dropbtn">Importadas</button>
                <div class="dropdown-content">
                <a href="/products/detail/5">Dos Dingos Aussie</a>
                <a href="/products/detail/6">Dos Dingos Refreshing</a>
                <a href="/products/detail/8">Me Echo La Burra IPA</a>
                </div>
            </div> 
            <div class="drop-nacionales">
                <button class="dropbtn">Nacionales</button>
                <div class="dropdown-content">
                <a href="/products/detail/1">Andes Origen IPA</a>
                <a href="/products/detail/12">Patagonia 24.7 IPA</a>
                <a href="/products/detail/7">Jarva IPA</a>
                </div>
            </div>  
            <div class="ofertas">
                <a href="#">Ofertas</a> 
            </div>
        </div>
    </div>
    <div class="user-menu">
        <div class="search">
            <form action="/products/search" method="GET">
                <input type="search" placeholder="Buscar productos" name="search">
                    <button type="submit" class="cursor-boton" style="font-size: 20px"><i class="fa fa-search"></i></button>                 
            </form>
        </div>
        <div class="menu-usuario">
        <div class="faq">
            <a href="#"><i class="fa-solid fa-circle-question"></i><span class="off">FAQ</span></a>
        </div>
        <div class="magnifying">
            <a href="#"><i class="fas fa-search"></i></a>
        </div>
        <div class="user">
            <a href="/user/login"><i class="fas fa-user"></i><span class="off">Perfil</span></a> 
        </div>
        <div class="cart">
            <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i><span class="off">Carrito</span></a>
            </div>
        </div>
    </div>
</header>